.btn {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  font: inherit;

  &--my-account {
    display: flex;
    font-weight: 700;
    font-size: 18px;
    color: $color-gray;
    align-items: center;

    span {
      display: flex;
      align-items: center;
      height: 35px;

      svg {
        fill: $color-gray;
      }
    }
  }

  &--ads {
    display: flex;
    align-items: center;
    width: 150px;
    font-size: 15px;
    img {
      height: 38px;
      margin-right: 8px;
    }

    p {
      font-weight: 700;
      color: $color-black;
    }

    @include respond(tab-port) {
      font-size: 13px;

      img {
        height: 35px;
      }
    }
    @include respond(mobile-lg) {
      font-size: 13px;
      width: 120px;
      img {
        height: 32px;
      }
    }
    @include respond(mobile-m) {
      font-size: 12px;
      width: 110px;
      img {
        height: 30px;
      }
    }
    @include respond(mobile-s) {
      font-size: 11px;
      width: 100px;
      img {
        height: 25px;
      }
    }
  }

  &--link {
    color: $color-black;
    padding: 5px 10px;
    text-decoration: underline;
    font-size: 18px;
    color: $color-darkblue;
    &:hover {
      text-decoration: underline;
    }
  }

  &--primary {
    background: $color-gray;
    padding: 10px 20px;
    color: $color-white;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 700;
  }

  &--track {
    display: flex;
    flex-direction: row;
    // background-color: $color-darkblue;

    padding: 5px 0 5px 0;
    align-items: center;

    &__icon {
      fill: $color-gray;
      margin-right: 8px;
      height: 22px;
    }

    &__label {
      font-size: 17px;
      font-weight: 700;
      color: $color-gray;
    }

    @include respond(laptop-s) {
      width: 45px;
      text-align: center;
      align-items: center;
      background: transparent !important;
      padding: 0;

      &__label {
        color: $color-gray;

        font-size: 16px;
      }
    }

    @include respond(mobile-lg) {
      &__label {
        font-size: 14px;
      }
      margin-right: 0 !important;
    }
    @include respond(mobile-m) {
      &__label {
        font-size: 12px;
      }
    }
  }

  &--cart {
    svg {
      height: 35px;

      @include respond(tab-port) {
        height: 30px;
      }
    }

    &__count {
    }
  }

  &--icon {
    position: relative;
    svg {
      height: 35px;
      fill: $color-gray;
    }

    &__count {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      right: -15px;
      top: -250%;
      background: $color-red;
      height: 24px;
      padding: 10px;
      border-radius: 8px;
      color: $color-white;
    }

    @include respond(laptop) {
      &__count {
        font-size: 15px;
      }
    }

    @include respond(tab-port) {
      svg {
        height: 32px;
      }
    }

    @include respond(mobile-lg) {
      &__count {
        font-size: 12px;
        padding: 8px;
        height: 20px;
        right: -5px;
      }
      svg {
        height: 28px;
      }
    }
    @include respond(mobile-m) {
      &__count {
        padding: 3px 6px;
        font-size: 10px;
      }
      svg {
        height: 24px;
      }
    }
  }
}

.flex-pc-only {
  display: flex;

  @include respond(laptop-s) {
    display: none;
  }
}

.flex-mob-only {
  display: none;

  @include respond(laptop-s) {
    display: flex;
  }
}
