$color-light-blue: #93d0fc;
$color-dark-blue: #09366d;
$color-white: #fff;
$color-red: #d83939;
$color-light-gray: #f3f3f3;
$color-light-gray-2: #e6e6e6;
$color-gray: #44414f;
$color-black: #000;
$color-darkblue: #0a2972;
