.footer {
  display: flex;
  background-color: $color-gray;
  color: $color-white;
  padding: 100px 0;
  width: 100%;
  float: left;

  @include respond(tab-port) {
    padding: 40px 0;
  }

  &__logo,
  .box-1-inner a:first-child {
    display: block;
    height: 70px;
    margin-bottom: 20px;

    @include respond(laptop) {
      height: 60px;
    }

    @include respond(laptop-s) {
      text-align: center;
    }

    @include respond(tab-port) {
      height: 60px;
    }
    @include respond(mobile-lg) {
      height: 50px;
    }
    @include respond(mobile-m) {
      height: 40px;
    }

    img {
      height: 100%;
    }
  }

  &__banner {
    white-space: pre-line;

    @include respond(laptop-s) {
      text-align: center;
      width: 80%;
      margin: 0 auto;
      margin-bottom: 20px;
    }

    @include respond(tab-port) {
      font-size: 15px;
    }
    @include respond(mobile-lg) {
      width: 90%;
    }
  }

  &__list {
  }

  &__list-header {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;

    @include respond(mobile-lg) {
      font-size: 18px;
    }
    @include respond(mobile-m) {
      font-size: 16px;
    }
  }

  &__list-group {
    & > *:not(:last-child) {
      margin-bottom: 9px;
    }
  }

  &__list-item {
    font-size: 16px;
    font-weight: 300;

    @include respond(mobile-lg) {
      font-size: 15px;
    }
    @include respond(mobile-m) {
      font-size: 14px;
    }
  }

  &__list-link {
    color: $color-light-gray-2;
    @include transition;

    &:hover {
      color: $color-white;
      text-decoration: underline;
    }
  }

  &__payments {
    display: flex;

    @include respond(mobile-lg) {
      justify-content: center;
      margin: 0 auto;
    }
    li {
      border-radius: 5px;
      overflow: hidden;
      height: 40px;

      @include respond(mobile-lg) {
        height: 35px;
      }
      @include respond(mobile-m) {
        height: 26px;
      }
    }

    img {
      height: 100%;
    }

    & > :not(:last-child) {
      margin-right: 10px;
    }
  }

  &__ribbon {
    height: 150px;
    img {
      height: 100%;
    }

    @include respond(mobile-lg) {
      text-align: center;
      height: 120px;
    }
    @include respond(mobile-m) {
      height: 100px;
    }
  }

  &__credit {
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 30px;

    @include respond(mobile-lg) {
      font-size: 15px;
    }
    @include respond(mobile-m) {
      font-size: 14px;
    }
  }
}

.flex {
  display: flex;
}

.align-item-center {
  align-items: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.box-1-inner {
  @media screen and (max-width: 1200px) {
    max-width: unset !important;
  }

  @include respond(mobile-lg) {
    // img {
    //   width: 100%;
    // }
  }
}
