.navbar {
  @include respond(tab-port) {
      margin-bottom: 0px !important;
  }
  .container {
      display: flex;
      align-items: center;
      height: 100%;
      position: relative;
      padding: 0;
      
      @include respond(laptop) {
          padding: 0 20px;
      }
      @include respond(tab-port) {
          height: auto;
      }
      @include respond(mobile-lg) {
          padding: 0 10px;
      }
      @include respond(mobile-s) {
          padding: 0 9px;
      }
  }
  &__login {
      position: relative;
  }
  &__hamburger-btn {
      display: block;
      align-items: center;
      width: 50px;
      min-width: 50px;
      height: 40px;
      margin-right: 15px;
      @include respond(tab-port) {
          height: 30px;
          width: 45px;
          min-width: 45px;
      }
      @include respond(mobile-lg) {
          width: 35px;
          min-width: 35px;
          margin-right: 8px;
      }
      @include respond(mobile-m) {
          margin-right: 5px;
      }
      span {
          position: relative;
          display: block;
          height: 5px;
          width: 100%;
          background: $color-darkblue;
          &::after,
          &::before {
              content: "";
              display: block;
              position: absolute;
              left: 0;
              height: 100%;
              width: 100%;
              background: inherit;
              @include transition;
          }
          &::after {
              top: 13px;
          }
          &::before {
              top: -13px;
          }
          @include respond(tab-port) {
              height: 5px;
              &::after {
                  top: 12px;
              }
              &::before {
                  top: -12px;
              }
          }
          @include respond(mobile-lg) {
              height: 4px;
              &::after {
                  top: 10px;
              }
              &::before {
                  top: -10px;
              }
          }
      }
      &--clicked {
          span {
              &::after {
                  top: 0;
                  transform: rotate(45deg);
              }
              &::before {
                  transform: rotate(-45deg);
                  top: 0;
              }
          }
      }
  }
  &__main {
      position: relative;
      background-color: $color-white;
      z-index: 150;
      height: 120px;
      @include respond(laptop-s) {
          height: 100px;
      }
      @include respond(tab-port) {
          height: auto;
          padding: 22px 0;
      }
      @include respond(mobile-lg) {
          height: auto;
          padding: 14px 0;
      }
  }
  &__logo {
      height: 72px;
      img,
      svg {
          height: 100%;
          margin-bottom: -15px;
      }
      @include respond(laptop) {
          height: 65px;
      }
      @include respond(laptop-s) {
          height: 45px;
      }
      @include respond(tab-land) {
          // height: 45px;
          top: 4px;
      }
      @include respond(mobile-lg) {
          height: 38px;
          top: 4px;
      }
      @include respond(mobile-s) {
          height: 33px;
          top: 4px;
      }
      // @include respond(mobile-lg) {
      //   height: 34px;
      // }
      // @include respond(mobile-m) {
      //   height: 30px;
      // }
      // @include respond(mobile-m) {
      //   height: 28px;
      // }
      // @include respond(mobile-s) {
      //   height: 25px;
      // }
  }
  &__ads {
      margin-left: 60px;
      @include respond(tab-port) {
          margin-left: 20px;
      }
  }
  &__search {
      display: flex;
      width: 380px;
      margin: 0 auto;
      position: relative;
      @include respond(laptop) {
          width: 300px;
      }
      #searchfrm {
          small {
              color: $color-red2 !important;
          }
      }
  }
  &__action {
      display: flex;
      align-items: center;
      margin-left: auto;
      &>*:not(:last-child) {
          margin-right: 15px;
          @include respond(mobile-lg) {
              margin-right: 14px;
          }
          @include respond(mobile-s) {
              margin-right: 6px;
          }
      }
      @media only screen and (max-width: 370px) {
          position: relative;
      }
  }
  &__footer {
      background-color: $color-gray;

      @include respond(laptop-s) {
        background-color: $color-white;
      }

      display: block;
      @include respond(laptop-s) {
          display: none;
      }
      & .container {
          height: auto !important;
          @include respond(laptop) {
              padding: 0;
          }
      }
      @include respond(laptop-s) {
          position: fixed;
          top: 0;
          padding-top: 100px;
          left: 0;
          height: 100vh;
          width: 85%;
          box-shadow: 10px 10px 10px rgba($color-black, 0.3);
          z-index: 100;
          background: $color-gray;
          overflow: auto;
      }
      @include respond(tab-port) {
          padding-top: 89px;
      }
      @include respond(mobile-lg) {
          padding-top: 73px;
      }
      @include respond(mobile-m) {
          padding-top: 68px;
      }
  }
  &__footer-more {
      display: none;
      position: absolute;
      z-index: 2;
      min-width: 220px;
      box-shadow: 0 0 14px rgba($color-black, 0.1);
      // left: 0;
      left: auto;
      @include respond(laptop-s) {
          min-width: 100%;
      }
  }

  &__footer-colors {
    color: #44414f;
    padding-top: 5px !important;
    h3 {
      padding: 8px 5px;
      margin-bottom: 5px;

      @include respond(mobile-lg) {
        padding: 5px ;
      }
    }
  }

  &__footer-brands, &__footer-colors {
      display: none;
      position: absolute;
      right: 0;
      z-index: 2;
      width: 100%;
      background-color: $color-white;
      min-width: 220px;
      box-shadow: 0 0 14px rgba($color-black, 0.1);
      padding: 15px 0;
      @include respond(laptop-s) {
          width: 100%;
          min-width: 100%;
      }
      .col-lg-12 {
          .row {
              .col-lg-cs-14 {
                  flex: 0 0 16.6%;
                  max-width: 16.6%;
                  @media only screen and (max-width: 1000px) {
                      flex: 0 0 33.33%;
                      max-width: 33.33%;
                  }
                  @media only screen and (max-width:768px) {
                      flex: 0 0 50%;
                      max-width: 50%;
                  }
              }
          }
      }
  }
  &__footer-sub-link {
      display: block;
      padding: 10px 15px;
      color: $color-black;
      // @include transition;
      img {
          height: 50px;
      }
      &:hover {
          font-weight: 700 !important;
          background-color: #e9efff;
      }
      @include respond(tab-port) {
          img {
              height: 40px;
          }
      }
      @include respond(mobile-lg) {
          font-size: 15px;
          img {
              height: 35px;
          }
      }
      @include respond(mobile-m) {
          font-size: 14px;
      }
  }
  &__footer-sub-item {}
  &__footer-sub {
      background-color: $color-white;
  }
  &__footer-list {
      display: flex;
      width: 100%;
      justify-content: space-between;
      list-style: none;
      @include respond(laptop-s) {
          flex-direction: column;
      }
      li {
          &:hover {
              .mega-menu {
                  opacity: 1;
                  visibility: visible;
              }
          }
      }
  }
  &__footer-item:hover .mega-menu {
      display: flex;
      @include respond(laptop-s) {
          display: none;
      }
  }
  &__footer-item:hover &__footer-more {
      display: block;
      @include respond(laptop-s) {
          display: none;
      }
  }
  &__footer-item:hover &__footer-brands {
      display: block;
      @include respond(laptop-s) {
          display: none;
      }
  }
  .mega-menu {
      @include respond(laptop-s) {
          top: 0;
      }
  }
  &__footer-link {
      display: block;
      padding: 14px;
      color: inherit;
      text-decoration: none;
      font-size: 18px;
      cursor: pointer;
      user-select: none;
      text-align: center;
      @include respond(laptop) {
          font-size: 16px;
          padding: 10px 14px;
      }
      @include respond(mobile-lg) {
          font-size: 20px;
          padding: 12px 12px;
      }
      @include respond(mobile-m) {
          // font-size: 16px;
          font-size: 20px;
          padding: 8px 10px;
      }
  }
  &__footer-item:hover &__footer-header {
      background-color: $color-white;
      color: $color-gray;
      @include respond(laptop-s) {
          background-color: unset;
          color: $color-white;
      }
  }
  &__footer-header {
      display: flex;
      align-items: center;
      width: 100%;
      cursor: pointer;
      color: $color-white;
      user-select: none;
  }
  &__footer-item-btn {
      display: none;
      @include respond(laptop-s) {
          display: block;
          margin-left: auto;
          padding: 10px;
          height: 50px;
      }
      @include respond(mobile-lg) {
          height: 45px;
      }
      img {
          @include transition;
          height: 100%;
      }
  }
  &__cart {
      position: relative;
      display: flex;
      &:hover .cart-preview {
          display: unset;
      }
      @include respond(mobile-lg) {
          svg {
              height: 28px !important;
          }
      }
  }
  &__cart-price {
      position: absolute;
      top: 100%;
      right: 50%;
      transform: translateX(35%);
      font-weight: 700;
      color: $color-red;
      left: inherit;
      float: none !important;
      margin-top: inherit;
      font-size: 15px;
      @include respond(laptop) {
          font-size: 15px;
      }
      @include respond(laptop-s) {
          font-size: 14px;
      }
      @include respond(mobile-lg) {
          font-size: 12px;
      }
      span {
          @include buttonIcon;
          min-width: 25px;
          min-height: 25px;
          border-radius: 100% !important;
          width: 25px;
          height: 25px;
          font-size: .6em;
          overflow: hidden;
          left: inherit;
          @include respond(mobile-lg) {
              min-width: 20px;
              min-height: 20px;
              width: 20px;
              height: 20px;
              top: -42px;
          }
          @include respond(tab-port) {
              width: 20px;
              height: 20px;
          }
      }
  }
  &__middle {
      padding: 10px 0;
      .container {
          display: flex;
          align-items: center;
          height: auto !important;
      }
  }
  &__middle-ads {
      display: flex;
      align-items: center;
      margin-right: auto;
      min-height: 45px;
  }
  &__middle-search {
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      width: 300px;
      z-index: 60;
      @include transition;
      small {
          display: none;
          position: absolute;
          top: 100%;
          right: 0;
          min-width: 150%;
          text-align: right;
      }
      &:focus-within {
          width: 50%;
      }
      @include respond(tab-port) {
          width: 250px;
      }
      @include respond(mobile-lg) {
          width: 35%;
          &:focus-within {
              width: 90%;
          }
      }
      @media only screen and (max-width:420px) {
          width: 30%;
          right: 5px;
      }
      // @include respond(mobile-m) {
      //     width: 30%;
      //     right: 5px;
      // }
  }
}

.ads-free-shipping {
  display: flex;
  align-items: flex-end;

  .free-text {
    p {
      @include respond(laptop) {
        font-size: 14px;
      }
    }
  }

  .price-bold {
    font-weight: 700;
    color: $color-red;
    font-size: 20px;
    vertical-align: top;
    margin-left: 5px;

    @include respond(laptop) {
      font-size: 14px;
    }
  }

  .free-icon {
    margin-left: 5px;
    svg {
      height: 50px;
      width: 50px;
    }

    @include respond(laptop) {
      svg {
        height: 40px;
        width: 40px;
      }
    }
  }
}

.search {
  // display: flex;
  display: none;
  position: absolute;
  width: 950px;
  background: $color-white;
  z-index: 1000;
  right: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  top: 50px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  overflow: hidden;
  text-align: left;

  @media (max-width: 79em) {
    right: -100%;
  }

  @include respond(laptop-s) {
    position: absolute;
    width: 95%;
    right: 10px;
    top: 130px;
  }

  @include respond(tab-land) {
    width: 270px;
    top: 45px;
  }

  @include respond(mobile-lg) {
    border-radius: 1px;
  }

  @include respond(mobile-m) {
    width: 210px;
  }

  &__live {
    width: 72%;
    padding: 20px 20px 30px 20px;

    @include respond(tab-land) {
      display: none;
    }
  }

  &__default {
    box-shadow: 0 0 10px rgba($color-black, 0.1);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    width: 250px;
    background: $color-white;
    z-index: 10;
    padding: 10px;
    border: 1px solid rgba($color-black, 0.2);
    box-shadow: 0 0 10px rgba($color-black, 0.1);
    border-radius: 3px;
    z-index: 1000;

    @include respond(laptop-s) {
      width: 220px;
      top: 125px;
      right: 15px;
    }
    @include respond(tab-land) {
      width: 200px;
      top: 45px;
      right: 0;
    }
    @include respond(mobile-m) {
      width: 160px;
    }

    h3 {
      font-size: 20px;
      margin: 10px 0;

      @include respond(mobile-lg) {
        font-size: 18px;
      }
    }

    a {
      display: block;
      color: $color-gray3;
      padding: 10px 5px;
      @include respond(mobile-lg) {
        font-size: 15px;
      }
    }
  }

  &__popular {
  }

  &__recent {
  }

  &__help {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    border-top: 1px solid $color-white-8;
  }

  &__help-title {
    font-size: 20px;
    color: $color-gray4;
  }

  &__help-list {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
  }

  &__help-items {
    border: 1px solid $color-gray2;
    color: $color-gray;
    border-radius: 50px;

    a {
      display: flex;
      padding: 7px 20px;
      font-size: 16px;
      color: $color-gray;
    }

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__live-header {
    font-size: 12px;
    margin-bottom: 15px;

    h1 {
      text-align: left;

      span {
        color: $color-darkblue;
      }
    }
  }
  &__live-list {
    display: flex;
    flex-wrap: wrap;
    li {
      width: 20%;
    }
  }

  &__live-btn {
    display: flex;
    color: $color-white !important;
    background-color: $color-darkblue !important;
    padding: 10px 20px;
    border-radius: 3px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    margin-top: auto;
  }

  &__auto {
    width: 260px;
    padding: 10px;
    background-color: $color-white3;
    min-height: 320px;

    @include respond(laptop-s) {
      width: 35%;
    }

    @include respond(tab-land) {
      width: 100%;
    }

    @include respond(tab-port) {
      background: $color-white;
      width: 100%;
      padding: 8px;
      padding-top: 0;
    }
  }

  &__auto-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  &__auto-text {
    font-size: 18px;
    margin-right: auto;

    span {
      font-weight: 600;
      color: $color-darkblue;
    }
  }

  &__auto-result {
    position: relative;
    width: 100%;
    padding: 10px 5px;

    @include respond(tab-land) {
      padding-top: 0;
    }
    li {
      width: 100%;
      text-align: left;

      &:not(:last-child) {
        margin-bottom: 12px;
      }

      &:hover,
      &:focus {
        a {
          @include hoverText();
        }
      }
    }

    a {
      display: flex;
      width: 100%;
      color: rgba(0, 0, 0, 0.8);
      font-weight: 500;
      font-size: 18px;
      text-align: left !important;
      @include respond(mobile-m) {
        font-size: 16px;
      }

      @include respond(mobile-m) {
        font-size: 15px;
      }

      span {
        display: inline-block;
        margin-left: auto;
        font-weight: 400;
        font-size: 15px;
      }
    }
  }
}

.card {
  &--search {
    width: 100%;
    padding: 5px !important;
    position: relative;
    border-radius: 3px;
    margin-bottom: 10px;
    border: 3px solid transparent;
    box-sizing: border-box;

    &:hover {
      @include hoverImage();
    }

    &__link {
      width: 100%;
      height: 100%;
    }

    &__img {
      overflow: hidden;
      display: block;
      width: 100%;
      border-radius: 2px;
      user-select: none;
    }

    &__img {
      img {
        width: 100%;
      }
    }

    &__body {
      color: rgba(0, 0, 0, 0.8);
      font-weight: 400;
    }

    &__brand {
      border-bottom: 1px solid rgba(0, 0, 0, 0.08);
      height: 24px;
      margin-top: 2px;

      img {
        height: 100%;
      }
    }

    &__title {
      border-bottom: 0;
      padding: 5px 0;
      font-size: 14px;
    }
  }
}

.search-show {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.n-mobile-only {
  display: none;

  @include respond(laptop-s) {
    display: unset;
  }
}

.n-desktop-only {
  display: flow-root;

  @include respond(laptop-s) {
    display: none;
  }
}

.login-floater {
  display: none;
  position: absolute;
  top: 100% !important;
  right: 0 !important;
  background: $color-white;
  padding: 30px 50px 40px 50px !important;
  box-shadow: 0 0 10px rgba($color-black, 0.1);
  width: 400px !important;
  border: 1px solid rgba($color-black, 0.1);
  border-radius: 8px;
  margin-top: 0 !important;

  @include respond(mobile-lg) {
    display: none;
  }

  &__action {
    display: flex;
  }
  &__footer {
    text-align: center;

    a {
      text-decoration: underline;
      color: $color-gray;
      font-weight: 700;
    }
  }
}

.default {
  background-color: $color-darkblue;
}

.show-sub-list {
  .mega-menu {
    @include respond(laptop-s) {
      display: flex !important;
    }
  }

  & .navbar__footer-header {
    @include respond(laptop-s) {
      background-color: $color-darkblue;
    }
  }

  & .navbar__footer-item-btn img {
    transform: rotate(90deg);
  }

  & .navbar__footer-brands {
    display: block !important;
  }

  & .navbar__footer-more {
    display: block !important;
  }
}
.show-sidebar {
  display: block !important;
}

#ajax_response {
  top: 100% !important;
  margin-top: 0 !important;
}

.navbar-relative {
  position: relative;
}

.navbar {
  &__header-icons {
    display: flex;

    @include respond(laptop-s) {
      margin: 10px 0;
    }
    & > *:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__header-icon {
    display: flex;
    align-items: center;
    // width: 180px;
    text-decoration: none;

    @include respond(mobile-lg) {
        width: 50%;
    }

    &>*:not(:last-child) {
      margin-right: 20px;
    }

    .text {
      
      
      h2 {
        font-size: 17px;
        font-weight: 600;
        color: #F46E20;
      }
      
      p {
        font-size: 13px;
        color: #727272;
        @include respond(mobile-lg) {
          font-size: 11px;
        }
      }

    }

    .icon {
      margin-right: 8px;
      img {
        height: 38px;
      }
      svg {
        height: 25px;
        width: 25px;
        @include respond(mobile-lg) {
          height: 20px;
          width: 20px;
        }
      }
    }
  }
}
