.inp {
  border: none;
  background: none;
  outline: none;
  font: inherit;
  &--search {
    position: relative;
    height: 45px;
    width: 100%;

    &__input {
      top: 0;
      left: 0;
      position: absolute;
      height: 100%;
      width: 100%;
      padding: 10px;
      background: $color-light-gray;
      font-size: 16px;
    }

    &__button {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 60px;
      background: $color-darkblue;

      svg {
        fill: $color-white;
      }

      @include respond(tab-port) {
        svg {
          height: 16px;
        }
      }
    }

    @include respond(tab-port) {
      height: 40px;

      &__input {
        font-size: 14px;
        padding: 8px;
      }

      &__button {
        width: 55px;
      }
    }
    @include respond(mobile-lg) {
      height: 36px;

      &__input {
        font-size: 14px;
        padding: 8px;
      }

      &__button {
        width: 40px;
      }

      svg {
        height: 14px;
      }
    }
  }
}
