.navbar {
  .container {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    padding: 0;

    @include respond(laptop) {
      padding: 0 20px;
    }

    @include respond(mobile-lg) {
      padding: 0 12px;
    }
  }

  &__login {
    position: relative;

    &:hover .login-floater {
      display: block;
    }
  }

  &__hamburger-btn {
    display: block;
    align-items: center;
    width: 50px;
    min-width: 50px;
    height: 40px;
    margin-right: 15px;

    @include respond(tab-port) {
      height: 30px;
      width: 45px;
      min-width: 45px;
    }

    @include respond(mobile-lg) {
      width: 35px;
      min-width: 35px;
    }
    @include respond(mobile-m) {
      width: 28px;
      min-width: 28px;
      margin-right: 5px;
    }

    span {
      position: relative;
      display: block;
      height: 4px;
      width: 100%;
      background: $color-darkblue;

      &::after,
      &::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        height: 100%;
        width: 100%;
        background: inherit;
      }

      &::after {
        top: 13px;
      }
      &::before {
        top: -13px;
      }

      @include respond(tab-port) {
        height: 4px;

        &::after {
          top: 12px;
        }

        &::before {
          top: -12px;
        }
      }
      @include respond(mobile-lg) {
        height: 3px;

        &::after {
          top: 10px;
        }

        &::before {
          top: -10px;
        }
      }
      @include respond(mobile-m) {
        height: 3px;

        &::after {
          top: 8px;
        }

        &::before {
          top: -8px;
        }
      }
    }
  }

  &__main {
    position: relative;
    background-color: $color-white;
    z-index: 150;
    height: 120px;

    @include respond(laptop-s) {
      height: 100px;
    }
    @include respond(tab-port) {
      height: auto;
      padding: 22px 0;
    }
    @include respond(mobile-lg) {
      height: auto;
      padding: 18px 0;
    }
  }

  &__logo {
    height: 55px;
    width: 300px;

    img {
      height: 100%;
      margin-bottom: -15px;
    }

    @include respond(laptop) {
      width: 280px;
      height: 45px;
    }

    @include respond(laptop-s) {
      width: auto;
    }

    @include respond(tab-land) {
      height: 45px;
    }
    @include respond(mobile-lg) {
      height: 36px;
    }
    @include respond(mobile-m) {
      height: 28px;
    }
    @include respond(mobile-s) {
      height: 25px;
    }
  }

  &__ads {
    margin-left: 20px;
  }

  &__search {
    display: flex;
    width: 380px;
    margin: 0 auto;
    position: relative;

    &:hover .search {
      display: flex !important;
    }

    @include respond(laptop) {
      width: 300px;
    }
  }

  &__action {
    display: flex;
    align-items: center;
    margin-left: auto;

    & > *:not(:last-child) {
      margin-right: 15px;

      @include respond(mobile-lg) {
        margin-right: 5px;
      }
      @include respond(mobile-m) {
        margin-right: 5px;
      }
    }
  }

  &__footer {
    display: block;
    background: $color-gray;
  }

  &__footer-list {
    display: flex;
    width: 100%;
    justify-content: space-between;
    list-style: none;
  }

  &__footer-item {
    &:hover {
      .mega-menu {
        display: flex !important;

        @include respond(laptop-s) {
          display: none !important;
        }
      }
    }
  }

  &__footer-item:hover &__footer-link {
    background-color: $color-white;
    color: $color-gray;
  }

  &__footer-link {
    display: block;
    padding: 14px 14px;
    color: $color-white;
    text-decoration: none;
    font-size: 18px;

    @include respond(laptop) {
      font-size: 16px;
      padding: 12px;
    }
  }

  &__cart {
    position: relative;
    display: flex;

    &:hover .cart-preview {
      display: unset;
    }
  }

  &__cart-price {
    position: absolute;
    top: 100%;
    right: -50%;
    font-weight: 700;
    color: $color-red;

    @include respond(laptop) {
      right: 0;
      font-size: 15px;
    }
    @include respond(laptop-s) {
      font-size: 14px;
    }

    @include respond(mobile-lg) {
      font-size: 12px;
    }
  }

  &__middle {
    padding: 10px 0;
    .container {
      display: flex;
      align-items: center;
    }
  }

  &__middle-ads {
    display: flex;
    align-items: center;
    margin-right: auto;
  }

  &__middle-search {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    width: 300px;
    &:focus-within {
      width: 50%;
    }

    @include respond(mobile-lg) {
      width: 200px;
      &:focus-within {
        width: 60%;
      }
    }
    @include respond(mobile-m) {
      width: 30%;

      &:focus-within {
        width: 90%;
      }
    }

    @include transition;
  }
}

.ads-free-shipping {
  display: flex;
  align-items: flex-end;

  .free-text {
    p {
      @include respond(laptop) {
        font-size: 14px;
      }
    }
  }

  .price-bold {
    font-weight: 700;
    color: $color-red;
    font-size: 20px;
    vertical-align: top;
    margin-left: 5px;

    @include respond(laptop) {
      font-size: 14px;
    }
  }

  .free-icon {
    margin-left: 5px;
    svg {
      height: 50px;
      width: 50px;
    }

    @include respond(laptop) {
      svg {
        height: 40px;
        width: 40px;
      }
    }
  }
}

.search {
  // display: flex;
  display: none;
  position: absolute;
  width: 950px;
  background: $color-white;
  z-index: 1000;
  right: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  top: 50px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  overflow: hidden;
  text-align: left;

  @media (max-width: 79em) {
    right: -100%;
  }

  @include respond(laptop-s) {
    position: absolute;
    width: 95%;
    right: 10px;
    top: 130px;
  }

  @include respond(tab-land) {
    width: 270px;
    top: 45px;
  }

  @include respond(mobile-lg) {
    border-radius: 1px;
  }

  @include respond(mobile-m) {
    width: 210px;
  }

  &__live {
    width: 72%;
    padding: 20px 20px 30px 20px;

    @include respond(tab-land) {
      display: none;
    }
  }

  &__default {
    box-shadow: 0 0 10px rgba($color-black, 0.1);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    width: 250px;
    background: $color-white;
    z-index: 10;
    padding: 10px;
    border: 1px solid rgba($color-black, 0.2);
    box-shadow: 0 0 10px rgba($color-black, 0.1);
    border-radius: 3px;
    z-index: 1000;

    @include respond(laptop-s) {
      width: 220px;
      top: 125px;
      right: 15px;
    }
    @include respond(tab-land) {
      width: 200px;
      top: 45px;
      right: 0;
    }
    @include respond(mobile-m) {
      width: 160px;
    }

    h3 {
      font-size: 20px;
      margin: 10px 0;

      @include respond(mobile-lg) {
        font-size: 18px;
      }
    }

    a {
      display: block;
      color: $color-gray3;
      padding: 10px 5px;
      @include respond(mobile-lg) {
        font-size: 15px;
      }
    }
  }

  &__popular {
  }

  &__recent {
  }

  &__help {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    border-top: 1px solid $color-white-8;
  }

  &__help-title {
    font-size: 20px;
    color: $color-gray4;
  }

  &__help-list {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
  }

  &__help-items {
    border: 1px solid $color-gray2;
    color: $color-gray;
    border-radius: 50px;

    a {
      display: flex;
      padding: 7px 20px;
      font-size: 16px;
      color: $color-gray;
    }

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__live-header {
    font-size: 12px;
    margin-bottom: 15px;

    h1 {
      text-align: left;

      span {
        color: $color-darkblue;
      }
    }
  }
  &__live-list {
    display: flex;
    flex-wrap: wrap;
    li {
      width: 20%;
    }
  }

  &__live-btn {
    display: flex;
    color: $color-white !important;
    background-color: $color-darkblue !important;
    padding: 10px 20px;
    border-radius: 3px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    margin-top: auto;
  }

  &__auto {
    width: 260px;
    padding: 10px;
    background-color: $color-white3;
    min-height: 320px;

    @include respond(laptop-s) {
      width: 35%;
    }

    @include respond(tab-land) {
      width: 100%;
    }

    @include respond(tab-port) {
      background: $color-white;
      width: 100%;
      padding: 8px;
      padding-top: 0;
    }
  }

  &__auto-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  &__auto-text {
    font-size: 18px;
    margin-right: auto;

    span {
      font-weight: 600;
      color: $color-darkblue;
    }
  }

  &__auto-result {
    position: relative;
    width: 100%;
    padding: 10px 5px;

    @include respond(tab-land) {
      padding-top: 0;
    }
    li {
      width: 100%;
      text-align: left;

      &:not(:last-child) {
        margin-bottom: 12px;
      }

      &:hover,
      &:focus {
        a {
          @include hoverText();
        }
      }
    }

    a {
      display: flex;
      width: 100%;
      color: rgba(0, 0, 0, 0.8);
      font-weight: 500;
      font-size: 18px;
      text-align: left !important;
      @include respond(mobile-m) {
        font-size: 16px;
      }

      @include respond(mobile-m) {
        font-size: 15px;
      }

      span {
        display: inline-block;
        margin-left: auto;
        font-weight: 400;
        font-size: 15px;
      }
    }
  }
}

.card {
  &--search {
    width: 100%;
    padding: 5px !important;
    position: relative;
    border-radius: 3px;
    margin-bottom: 10px;
    border: 3px solid transparent;
    box-sizing: border-box;

    &:hover {
      @include hoverImage();
    }

    &__link {
      width: 100%;
      height: 100%;
    }

    &__img {
      overflow: hidden;
      display: block;
      width: 100%;
      border-radius: 2px;
      user-select: none;
    }

    &__img {
      img {
        width: 100%;
      }
    }

    &__body {
      color: rgba(0, 0, 0, 0.8);
      font-weight: 400;
    }

    &__brand {
      border-bottom: 1px solid rgba(0, 0, 0, 0.08);
      height: 24px;
      margin-top: 2px;

      img {
        height: 100%;
      }
    }

    &__title {
      border-bottom: 0;
      padding: 5px 0;
      font-size: 14px;
    }
  }
}

.search-show {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.mobile-only {
  display: none;

  @include respond(laptop-s) {
    display: unset;
  }
}

.desktop-only {
  display: flow-root;

  @include respond(laptop-s) {
    display: none;
  }
}

.login-floater {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background: $color-white;
  padding: 40px;
  box-shadow: 0 0 10px rgba($color-black, 0.1);
  width: 430px;
  border: 1px solid rgba($color-black, 0.1);
  border-radius: 8px;

  &__action {
    display: flex;
  }
  &__footer {
    text-align: center;

    a {
      text-decoration: underline;
      color: $color-gray;
      font-weight: 700;
    }
  }
}
