.shop-by-color {
  display: flex;
  $box-size-desktop: 35px;
  $box-size-mobile: 32px;
  padding: 2px 5px 2px 5px;
  color: #44414f;
  width: 100%;
  align-items: flex-start;

  &__box {
    display: flex;
    width: $box-size-desktop;
    height: $box-size-desktop;
    min-width: $box-size-desktop;
    min-height: $box-size-desktop;
    margin-right: 6px;
    border: 1px solid #efefef;

    @include respond(tab-port) {
      width: $box-size-mobile;
      height: $box-size-mobile;
      min-width: $box-size-mobile;
      min-height: $box-size-mobile;
    }
  }
  &__title {
    display: flex;
    height: $box-size-desktop;
    align-items: center;
    justify-content: center;
    font-size: 26px;

    @include respond(laptop-s) {
      height: auto;
      min-height: $box-size-mobile;
      font-size: 20px;
    }
  }

  &:hover {
    background: rgba($color-primary, 0.08);
    color: $color-primary !important;
  }
}

.shop-color-list {
  display: flex;

  @include respond(laptop-s) {
    flex-wrap: wrap;
  }

  &__items {
    &:not(:last-child) {
      margin-right: 8px;
      padding-right: 20px;

      @include respond(laptop-s) {
        margin-right: 0;
        padding-right: 0;
      }
    }

    @include respond(laptop-s) {
      width: 100%;
    }

    ul {
      @include respond(laptop-s) {
        display: flex;
        flex-direction: row;
      }
    }

    li {
      @include respond(laptop-s) {
        flex: 1 1 33.333%;
      }

      @include respond(tab-port) {
        flex: 1 1 50%;
      }

      &:not(:last-child) {
        margin-bottom: 4px;
      }
    }
  }
}

