@import "color.scss";
@import "utils.scss";
@import "mixin.scss";
@import "./quantity-editor";
@import "./select";
@import "./buy-again/index.scss";
@import "./buy-again/buy-again-card.scss";
@import "./buy-again/choose-variants.scss";
@import "./buy-again/ordered-variant-item.scss";

.sidebar {
  display: block; width: 240px; height: 40vh; background: white;

  @include respond(laptop-s) {
    display: none;
  }
}
