@import "color.scss";
@import "utils.scss";
@import "mixin.scss";

@import "checkout-cart/group-more-items.scss";

.shipping-group {
  width: 890px;
  max-width: 890px;

  @include respond(laptop-s) {
    width: 100%;
  }
}

.shipping-group {
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid $color-border;
  }

  &__header {
    display: flex;
    align-items: center;
  }

  &__title {
  }

  &__summary {
    margin-left: auto;
  }

  &__body {
    display: flex;
    margin-top: 10px;

    @include respond(tab-port) {
      flex-direction: column-reverse;
    }

    & > *:not(:last-child) {
      margin-right: 15px;
    }
  }

  &__list {
    // margin-top: 8px;
    width: 100%;
  }

  &__options {
    min-width: 350px;
    width: 350px;

    @include respond(laptop-s) {
      min-width: 350px;
      width: 300px;
      
    }

    @include respond(mobile-lg) {
        width: 100%;
        min-width: 100%;
        margin-top: 15px;
    }
  }
}

.shipping-group-summary {
  display: flex;
  align-items: center;

  &__images {
    display: flex;
    align-items: center;
    margin-right: 8px;
    .image {
      display: flex;
      height: 45px;
      width: 45px;
      overflow: hidden;
      border-radius: 100%;
      border: 3px solid $color-border;
      margin-left: -25px;

      @include respond(mobile-lg) {
        height: 40px;
        width: 40px;
      }

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  &__text {
    margin-right: 8px;
    color: $color-text;

    @include respond(tab-port) {
      display: none;
    }
  }

  &__toggle {
    font-weight: 700;
    color: $color-primary;
  }
}

.shipping-group-list {
  border: 2px solid $color-border;
  border-radius: 5px;
  &__item {
    display: flex;
    &:not(:last-child) {
      border-bottom: 1px solid $color-border;
    }
  }
}

.shipping-group-item {
  display: flex;
  padding: 8px;
  width: 100%;

  &__info {
    display: flex;
    flex-direction: column;
    color: $color-text;
    width: 100%;
    padding-left: 10px;
  }

  &__image {
    height: 60px;
    width: 45px;
    min-width: 45px;
    border: 2px solid $color-border;
    overflow: hidden;
    border-radius: 5px;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__product {
    width: 100%;
  }

  &__title {
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: 600;
    width: calc(80%);
  font-size: 18px;
  color: $color-text;
    h4 {
    }
  }

  &__others {
    margin-top: 5px;
    margin-right: 20px;
    color: $color-text-secondary;

    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  &__summary {
    display: flex;
    align-items: center;
    margin-top: 6px;

    @include respond(tab-land) {
      flex-direction: column;
      align-items: flex-start;
    }

    @include respond(tab-port) {
      flex-direction: row;
      // align-items: flex-start;
    }

    @include respond(mobile-ms) {
      flex-direction: column;
      align-items: flex-start;
    }

    .name {
      font-size: 14px;
      color: $color-text-secondary;
    }

    .value {
      color: $color-text;
      font-size: 16px;
      font-weight: 600;

      @include respond(tab-port) {
        margin-top: 0;
      }
    }
  }

  &__summary-info {
    display: flex;

    & > *:not(:last-child) {
      margin-right: 15px;
    }
  }

  &__summary-item {
    display: flex;
    margin-left: auto;
    text-align: center;

    @include respond(tab-land) {
      margin-left: 0;
      margin-top: 10px;
      width: 100%;
      justify-content: space-between;
    }

    @include respond(tab-land) {
      margin-left: auto;
      margin-top: 0;
      width: auto;
      justify-content: start;
    }

    @include respond(mobile-ms) {
      margin-left: 0;
      margin-top: 10px;
      width: 100%;
      justify-content: space-between;
    }

    p {
      display: inline-flex;
      flex-direction: column;
      width: 70px;

      @include respond(mobile-ms) {
        width: auto;
      }
    }

    .value {
      // margin-top: 5px;
    }
  }
}



.ship-option {
  // border: 1px solid $color-gray;
  border-radius: 5px;
  height: 100% !important;
  display: flex;
  width: 100%;
  cursor: pointer;
  user-select: none;
  padding-top: 5px;
  padding-bottom: 10px;
  position: relative;
  padding-left: 30px;
  box-sizing: border-box;
  position: relative;
  @include respond(mobile-lg) {
    padding-bottom: 5px;
    margin-bottom: 8px;
  }
  &:after {
    border: 2px solid #9a9a9a;
    display: block;
    background: #fafafa;
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 100%;
    left: 7px;
    top: 12px;
  }
  &:before {
    display: block;
    background: #fafafa;
    position: absolute;
    content: "";
    width: 9px;
    height: 9px;
    border-radius: 100%;
    left: 10px;
    top: 15px;
    z-index: 2;
  }

  &__total {
  }

  &__amount {
    font-size: 18px;
    font-weight: bold;
  }

  &__estimated {
    color: $color-text-secondary;
  }

  &__main {
    padding-right: 10px;
    @include respond(mobile-lg) {
      padding-right: 5px;
    }
  }
  &__title {
    display: flex;
    align-items: center;
    margin-bottom: 3px;
    @include respond(mobile-lg) {
      margin-bottom: 0px;
    }
  }
  h3 {
    color: $color-green;
    @include respond(mobile-ms) {
      font-size: 17px;
    }
    @include respond(mobile-m) {
      font-size: 16px;
    }
  }
  label {
    padding: 0;
    width: 100%;
  }
  small {
    font-size: 16px;
    color: $color-gray;
  }
  input {
    opacity: 0;
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 4;
    border-radius: 0 !important;
    &:focus {
      color: transparent !important;
      background: transparent !important;
    }
  }
  .image-container {
    img {
      height: 30px;
      margin-right: 8px;
    }
  }
  &:hover {
    border-color: $color-primary;
  }
  &.ship-option-active {
    // border-color: $color-green !important;
    // background-color: rgba($color-green, 0.05) !important;
    &:before {
      background: $color-primary;
    }
    small {
      color: $color-primary;
    }
  }
}
