@charset "UTF-8";
.container {
  margin: auto;
  max-width: 1200px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.mb-1 {
  margin-bottom: 10px;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Roboto Condensed", sans-serif;
}

main {
  min-height: 50vh;
}

.w-100 {
  width: 100%;
}

.btn {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  font: inherit;
}

.btn--my-account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  font-size: 18px;
  color: #44414f;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn--my-account span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35px;
}

.btn--my-account span svg {
  fill: #44414f;
}

.btn--ads {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  font-size: 15px;
}

.btn--ads img {
  height: 38px;
  margin-right: 8px;
}

.btn--ads p {
  font-weight: 700;
  color: #000;
}

@media (max-width: 48em) {
  .btn--ads {
    font-size: 13px;
  }
  .btn--ads img {
    height: 35px;
  }
}

@media (max-width: 37.5625em) {
  .btn--ads {
    font-size: 13px;
    width: 120px;
  }
  .btn--ads img {
    height: 32px;
  }
}

@media (max-width: 23.4375em) {
  .btn--ads {
    font-size: 12px;
    width: 110px;
  }
  .btn--ads img {
    height: 30px;
  }
}

@media (max-width: 20em) {
  .btn--ads {
    font-size: 11px;
    width: 100px;
  }
  .btn--ads img {
    height: 25px;
  }
}

.btn--link {
  color: #000;
  padding: 5px 10px;
  text-decoration: underline;
  font-size: 18px;
  color: #0a2972;
}

.btn--link:hover {
  text-decoration: underline;
}

.btn--primary {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: #44414f;
  padding: 10px 20px;
  color: #fff;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 700;
}

.btn--track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 5px 0 5px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn--track__icon {
  fill: #44414f;
  margin-right: 8px;
  height: 22px;
}

.btn--track__label {
  font-size: 17px;
  font-weight: 700;
  color: #44414f;
}

@media (max-width: 62.5em) {
  .btn--track {
    width: 45px;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: transparent !important;
    padding: 0;
  }
  .btn--track__label {
    color: #44414f;
    font-size: 16px;
  }
}

@media (max-width: 37.5625em) {
  .btn--track {
    margin-right: 0 !important;
  }
  .btn--track__label {
    font-size: 14px;
  }
}

@media (max-width: 23.4375em) {
  .btn--track__label {
    font-size: 12px;
  }
}

.btn--cart svg {
  height: 35px;
}

@media (max-width: 48em) {
  .btn--cart svg {
    height: 30px;
  }
}

.btn--icon {
  position: relative;
}

.btn--icon svg {
  height: 35px;
  fill: #44414f;
}

.btn--icon__count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: -15px;
  top: -250%;
  background: #d83939;
  height: 24px;
  padding: 10px;
  border-radius: 8px;
  color: #fff;
}

@media (max-width: 79em) {
  .btn--icon__count {
    font-size: 15px;
  }
}

@media (max-width: 48em) {
  .btn--icon svg {
    height: 32px;
  }
}

@media (max-width: 37.5625em) {
  .btn--icon__count {
    font-size: 12px;
    padding: 8px;
    height: 20px;
    right: -5px;
  }
  .btn--icon svg {
    height: 28px;
  }
}

@media (max-width: 23.4375em) {
  .btn--icon__count {
    padding: 3px 6px;
    font-size: 10px;
  }
  .btn--icon svg {
    height: 24px;
  }
}

.flex-pc-only {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 62.5em) {
  .flex-pc-only {
    display: none;
  }
}

.flex-mob-only {
  display: none;
}

@media (max-width: 62.5em) {
  .flex-mob-only {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.inp {
  border: none;
  background: none;
  outline: none;
  font: inherit;
}

.inp--primary {
  border: 1px solid #44414f;
  padding: 12px;
  border-radius: 3px;
}

.inp--search {
  position: relative;
  height: 45px;
  width: 100%;
}

.inp--search__input {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 10px;
  background: #f3f3f3;
  font-size: 16px;
  border: 1px solid #f3f3f3;
}

.inp--search__input:focus, .inp--search__input:hover {
  border-color: #0a2972;
}

.inp--search__button {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 60px;
  background-color: #44414f;
}

.inp--search__button svg {
  fill: #fff;
}

@media (max-width: 48em) {
  .inp--search__button svg {
    height: 16px;
  }
}

@media (max-width: 48em) {
  .inp--search {
    height: 40px;
  }
  .inp--search__input {
    font-size: 14px;
    padding: 8px;
  }
  .inp--search__button {
    width: 55px;
  }
}

@media (max-width: 37.5625em) {
  .inp--search__input {
    font-size: 14px;
    padding: 8px;
  }
  .inp--search__button {
    width: 40px;
  }
  .inp--search svg {
    height: 14px;
  }
}

@media (max-width: 23.4375em) {
  .inp--search {
    height: 38px;
  }
}

.inp-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.inp-group label {
  margin-bottom: 8px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #44414f;
  color: #fff;
  padding: 100px 0;
  width: 100%;
  float: left;
}

@media (max-width: 48em) {
  .footer {
    padding: 40px 0;
  }
}

.footer__logo,
.footer .box-1-inner a:first-child {
  display: block;
  height: 70px;
  margin-bottom: 20px;
}

@media (max-width: 79em) {
  .footer__logo,
  .footer .box-1-inner a:first-child {
    height: 60px;
  }
}

@media (max-width: 62.5em) {
  .footer__logo,
  .footer .box-1-inner a:first-child {
    text-align: center;
  }
}

@media (max-width: 48em) {
  .footer__logo,
  .footer .box-1-inner a:first-child {
    height: 60px;
  }
}

@media (max-width: 37.5625em) {
  .footer__logo,
  .footer .box-1-inner a:first-child {
    height: 50px;
  }
}

@media (max-width: 23.4375em) {
  .footer__logo,
  .footer .box-1-inner a:first-child {
    height: 40px;
  }
}

.footer__logo img,
.footer .box-1-inner a:first-child img {
  height: 100%;
}

.footer__banner {
  white-space: pre-line;
}

@media (max-width: 62.5em) {
  .footer__banner {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

@media (max-width: 48em) {
  .footer__banner {
    font-size: 15px;
  }
}

@media (max-width: 37.5625em) {
  .footer__banner {
    width: 90%;
  }
}

.footer__list-header {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

@media (max-width: 37.5625em) {
  .footer__list-header {
    font-size: 18px;
  }
}

@media (max-width: 23.4375em) {
  .footer__list-header {
    font-size: 16px;
  }
}

.footer__list-group > *:not(:last-child) {
  margin-bottom: 9px;
}

.footer__list-item {
  font-size: 16px;
  font-weight: 300;
}

@media (max-width: 37.5625em) {
  .footer__list-item {
    font-size: 15px;
  }
}

@media (max-width: 23.4375em) {
  .footer__list-item {
    font-size: 14px;
  }
}

.footer__list-link {
  color: #e6e6e6;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

.footer__list-link:hover {
  color: #fff;
  text-decoration: underline;
}

.footer__payments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 37.5625em) {
  .footer__payments {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }
}

.footer__payments li {
  border-radius: 5px;
  overflow: hidden;
  height: 40px;
}

@media (max-width: 37.5625em) {
  .footer__payments li {
    height: 35px;
  }
}

@media (max-width: 23.4375em) {
  .footer__payments li {
    height: 26px;
  }
}

.footer__payments img {
  height: 100%;
}

.footer__payments > :not(:last-child) {
  margin-right: 10px;
}

.footer__ribbon {
  height: 150px;
}

.footer__ribbon img {
  height: 100%;
}

@media (max-width: 37.5625em) {
  .footer__ribbon {
    text-align: center;
    height: 120px;
  }
}

@media (max-width: 23.4375em) {
  .footer__ribbon {
    height: 100px;
  }
}

.footer__credit {
  display: block;
  text-align: center;
  width: 100%;
  margin-top: 30px;
}

@media (max-width: 37.5625em) {
  .footer__credit {
    font-size: 15px;
  }
}

@media (max-width: 23.4375em) {
  .footer__credit {
    font-size: 14px;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.align-item-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 1200px) {
  .box-1-inner {
    max-width: unset !important;
  }
}

.mega-menu {
  display: none;
  position: absolute;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  background: #fff;
  z-index: 2000;
  top: 100%;
  left: 0;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  border-top: none;
}

@media (max-width: 62.5em) {
  .mega-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    width: 100% !important;
  }
}

.mega-menu ul {
  display: block !important;
  position: relative !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  width: auto !important;
  left: 0 !important;
  min-width: 100% !important;
}

@media (max-width: 62.5em) {
  .mega-menu ul {
    width: 100%;
  }
}

.mega-menu__title {
  display: block;
  font-weight: 700 !important;
  font-size: 16px !important;
  margin-bottom: 5px;
  padding: 0 !important;
  padding-bottom: 5px !important;
  color: #000;
  width: 100% !important;
  position: relative;
}

@media (max-width: 62.5em) {
  .mega-menu__title {
    margin-bottom: 0px;
    padding-bottom: 0px !important;
    /* Start - Drawer is not fixed to its position and still scrollable - CL - 09/23/2020 */
    font-weight: 300 !important;
    padding: 5px 10px !important;
    font-size: 15px !important;
    /* End - Drawer is not fixed to its position and still scrollable - CL - 09/23/2020 */
  }
}

@media (max-width: 79em) {
  .mega-menu__title {
    color: #000 !important;
    font-weight: 400 !important;
  }
}

.mega-menu__title::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  right: 20px;
  color: #fff;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  content: "⇀";
  background: #0a2972;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  opacity: 0;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

@media (max-width: 48em) {
  .mega-menu__title::after {
    display: none;
  }
}

.mega-menu__title:hover {
  color: #0a2972;
}

.mega-menu__title:hover::after {
  opacity: 1;
  right: 10px;
}

.mega-menu__more {
  display: none !important;
  padding: 0 !important;
  margin-top: 10px !important;
  font-size: 15px !important;
  color: #0a2972 !important;
  font-weight: 600 !important;
  position: relative;
  border-bottom: none !important;
  right: 0;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

@media (max-width: 62.5em) {
  .mega-menu__more {
    display: none !important;
  }
}

.mega-menu__more:hover {
  right: -2px;
}

.mega-menu__more span {
  font-size: 18px;
  font-weight: 700;
  bottom: -6px;
  position: relative !important;
  top: 0 !important;
  right: 0 !important;
  display: inline !important;
}

.mega-menu__sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25% !important;
  padding: 15px 0;
  padding-left: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 10px;
  overflow: hidden;
}

@media (max-width: 62.5em) {
  .mega-menu__sub {
    width: 100% !important;
    padding: 5px;
  }
}

@media (max-width: 79em) {
  .mega-menu__sub {
    background-color: #f7f7f7;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  }
}

.mega-menu__sub:hover {
  background-color: #e9efff;
}

.mega-menu__sub ul {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 0 !important;
  padding-top: 6px;
  background: none !important;
}

@media (max-width: 62.5em) {
  .mega-menu__sub ul {
    display: none !important;
  }
}

.mega-menu__sub li a {
  display: block;
  width: 100% !important;
  border: none !important;
  padding: 5px 15px 5px 0 !important;
  font-size: 14px !important;
  color: #3b3b3b !important;
  position: relative !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 62.5em) {
  .mega-menu__sub li a {
    border-bottom: none !important;
  }
}

.mega-menu__sub li a:hover {
  color: #0a2972;
  font-weight: 600;
  background: none !important;
  color: #fff;
}

.mega-menu__sub a {
  background: none !important;
}

.mega-menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.mega-menu__body > *:first-child {
  margin-right: 10px !important;
}

.mega-menu__text {
  width: 70% !important;
  height: 100% !important;
}

.mega-menu__img {
  display: block;
  position: relative;
  height: 100%;
  width: 30% !important;
}

.mega-menu__img .image {
  position: absolute;
  left: -50%;
  -webkit-transform: translateX(-25%);
          transform: translateX(-25%);
  top: 0;
  height: 100%;
}

.cart-preview {
  display: none;
  position: absolute;
  top: 150%;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  background: #fff;
  width: 320px;
  border-radius: 5px;
  border: 1px solid #0a2972;
  text-align: left;
  z-index: 50;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

@media screen and (max-width: 1500px) {
  .cart-preview {
    right: -10px;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.cart-preview__header {
  border-bottom: 1px solid #0a2972;
  padding: 12px 15px;
}

.cart-preview__header h1 {
  font-size: 20px;
  color: #0a2972;
}

.cart-preview__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px 25px;
  max-height: 60vh;
  overflow: auto;
}

.cart-preview__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cart-preview__item:not(:last-child) {
  margin-bottom: 5px;
  padding: 10px 0;
}

.cart-preview__item-header {
  display: block;
  width: 100%;
  font-weight: 600;
  color: #000;
  margin-bottom: 4px;
  font-size: 13px;
}

.cart-preview__item-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-preview__item-img {
  height: 80px;
  margin-right: 25px;
}

.cart-preview__item-img img {
  height: 100%;
}

.cart-preview__item-details {
  font-size: 13px;
}

.cart-preview__item-details .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-preview__item-details b {
  margin-right: 5px;
}

.cart-preview__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 15px 25px;
}

.cart-preview__count {
  text-align: right;
  margin-bottom: 10px;
  font-size: 12px;
  color: #009b00;
  font-weight: 700;
}

.cart-preview__summary .subtotal {
  font-size: 13px;
}

.cart-preview__summary li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

.cart-preview__summary li:not(:last-child) {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.cart-preview__summary p {
  font-weight: 700;
}

.cart-preview__btns {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-preview__btns .btn--link {
  padding: 0;
}

.cart-preview__empty {
  padding: 15px;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  position: relative;
  padding: 0;
}

@media (max-width: 79em) {
  .navbar .container {
    padding: 0 20px;
  }
}

@media (max-width: 48em) {
  .navbar .container {
    height: auto;
  }
}

@media (max-width: 37.5625em) {
  .navbar .container {
    padding: 0 12px;
  }
}

.navbar__login {
  position: relative;
}

.navbar__hamburger-btn {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  min-width: 50px;
  height: 40px;
  margin-right: 15px;
}

@media (max-width: 48em) {
  .navbar__hamburger-btn {
    height: 30px;
    width: 45px;
    min-width: 45px;
  }
}

@media (max-width: 37.5625em) {
  .navbar__hamburger-btn {
    width: 35px;
    min-width: 35px;
  }
}

@media (max-width: 23.4375em) {
  .navbar__hamburger-btn {
    width: 28px;
    min-width: 28px;
    margin-right: 5px;
  }
}

.navbar__hamburger-btn span {
  position: relative;
  display: block;
  height: 5px;
  width: 100%;
  background: #0a2972;
}

.navbar__hamburger-btn span::after, .navbar__hamburger-btn span::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: inherit;
}

.navbar__hamburger-btn span::after {
  top: 13px;
}

.navbar__hamburger-btn span::before {
  top: -13px;
}

@media (max-width: 48em) {
  .navbar__hamburger-btn span {
    height: 5px;
  }
  .navbar__hamburger-btn span::after {
    top: 12px;
  }
  .navbar__hamburger-btn span::before {
    top: -12px;
  }
}

@media (max-width: 37.5625em) {
  .navbar__hamburger-btn span {
    height: 4px;
  }
  .navbar__hamburger-btn span::after {
    top: 10px;
  }
  .navbar__hamburger-btn span::before {
    top: -10px;
  }
}

@media (max-width: 23.4375em) {
  .navbar__hamburger-btn span {
    height: 3px;
  }
  .navbar__hamburger-btn span::after {
    top: 8px;
  }
  .navbar__hamburger-btn span::before {
    top: -8px;
  }
}

.navbar__main {
  position: relative;
  background-color: #fff;
  z-index: 150;
  height: 120px;
}

@media (max-width: 62.5em) {
  .navbar__main {
    height: 100px;
  }
}

@media (max-width: 48em) {
  .navbar__main {
    height: auto;
    padding: 22px 0;
  }
}

@media (max-width: 37.5625em) {
  .navbar__main {
    height: auto;
    padding: 18px 0;
  }
}

.navbar__logo {
  height: 55px;
  width: 300px;
}

.navbar__logo img {
  height: 100%;
  margin-bottom: -15px;
}

@media (max-width: 79em) {
  .navbar__logo {
    width: 280px;
    height: 45px;
  }
}

@media (max-width: 62.5em) {
  .navbar__logo {
    width: auto;
  }
}

@media (max-width: 56.25em) {
  .navbar__logo {
    height: 45px;
  }
}

@media (max-width: 37.5625em) {
  .navbar__logo {
    height: 36px;
  }
}

@media (max-width: 23.4375em) {
  .navbar__logo {
    height: 28px;
  }
}

@media (max-width: 20em) {
  .navbar__logo {
    height: 25px;
  }
}

.navbar__ads {
  margin-left: 20px;
}

.navbar__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 380px;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 79em) {
  .navbar__search {
    width: 300px;
  }
}

.navbar__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.navbar__action > *:not(:last-child) {
  margin-right: 15px;
}

@media (max-width: 37.5625em) {
  .navbar__action > *:not(:last-child) {
    margin-right: 5px;
  }
}

@media (max-width: 23.4375em) {
  .navbar__action > *:not(:last-child) {
    margin-right: 5px;
  }
}

.navbar__footer {
  display: block;
  background-color: #44414f;
}

@media (max-width: 62.5em) {
  .navbar__footer {
    display: none;
  }
}

.navbar__footer .container {
  height: auto !important;
}

@media (max-width: 79em) {
  .navbar__footer .container {
    padding: 0;
  }
}

@media (max-width: 62.5em) {
  .navbar__footer {
    position: fixed;
    top: 0;
    padding-top: 100px;
    left: 0;
    height: 100vh;
    width: 85%;
    -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
            box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
    background: #44414f;
    overflow: auto;
  }
}

@media (max-width: 48em) {
  .navbar__footer {
    padding-top: 89px;
  }
}

@media (max-width: 37.5625em) {
  .navbar__footer {
    padding-top: 73px;
  }
}

@media (max-width: 23.4375em) {
  .navbar__footer {
    padding-top: 68px;
  }
}

.navbar__footer-more {
  display: none;
  position: absolute;
  z-index: 2;
  min-width: 220px;
  -webkit-box-shadow: 0 0 14px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 14px rgba(0, 0, 0, 0.1);
  left: 0;
}

@media (max-width: 62.5em) {
  .navbar__footer-more {
    min-width: 100%;
  }
}

.navbar__footer-brands {
  display: none;
  position: absolute;
  right: 0;
  z-index: 2;
  width: 100%;
  background-color: #fff;
  min-width: 220px;
  -webkit-box-shadow: 0 0 14px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 14px rgba(0, 0, 0, 0.1);
}

@media (max-width: 62.5em) {
  .navbar__footer-brands {
    width: 100%;
    min-width: 100%;
  }
}

.navbar__footer-sub-link {
  display: block;
  padding: 10px 15px;
  color: #000;
}

.navbar__footer-sub-link:hover {
  font-weight: 700 !important;
  background-color: #e9efff;
}

@media (max-width: 37.5625em) {
  .navbar__footer-sub-link {
    font-size: 15px;
  }
}

@media (max-width: 23.4375em) {
  .navbar__footer-sub-link {
    font-size: 14px;
  }
}

.navbar__footer-sub {
  background-color: #fff;
}

.navbar__footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

@media (max-width: 62.5em) {
  .navbar__footer-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.navbar__footer-item:hover .mega-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 62.5em) {
  .navbar__footer-item:hover .mega-menu {
    display: none;
  }
}

.navbar__footer-item:hover .navbar__footer-more {
  display: block;
}

@media (max-width: 62.5em) {
  .navbar__footer-item:hover .navbar__footer-more {
    display: none;
  }
}

.navbar__footer-item:hover .navbar__footer-brands {
  display: block;
}

@media (max-width: 62.5em) {
  .navbar__footer-item:hover .navbar__footer-brands {
    display: none;
  }
}

@media (max-width: 62.5em) {
  .navbar .mega-menu {
    top: 0;
  }
}

.navbar__footer-link {
  display: block;
  padding: 12px 15px;
  color: inherit;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
}

@media (max-width: 79em) {
  .navbar__footer-link {
    font-size: 16px;
    padding: 10px 14px;
  }
}

@media (max-width: 37.5625em) {
  .navbar__footer-link {
    font-size: 18px;
    padding: 12px 12px;
  }
}

@media (max-width: 23.4375em) {
  .navbar__footer-link {
    font-size: 16px;
    padding: 8px 10px;
  }
}

.navbar__footer-item:hover .navbar__footer-header {
  background-color: #fff;
  color: #44414f;
}

@media (max-width: 62.5em) {
  .navbar__footer-item:hover .navbar__footer-header {
    background-color: unset;
    color: #fff;
  }
}

.navbar__footer-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  cursor: pointer;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.navbar__footer-item-btn {
  display: none;
}

@media (max-width: 62.5em) {
  .navbar__footer-item-btn {
    display: block;
    margin-left: auto;
    padding: 10px;
    height: 50px;
  }
}

@media (max-width: 37.5625em) {
  .navbar__footer-item-btn {
    height: 45px;
  }
}

.navbar__footer-item-btn img {
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  height: 100%;
}

.navbar__cart {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar__cart:hover .cart-preview {
  display: unset;
}

.navbar__cart-price {
  position: absolute;
  top: 100%;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  font-weight: 700;
  color: #d83939;
}

@media (max-width: 79em) {
  .navbar__cart-price {
    font-size: 15px;
  }
}

@media (max-width: 62.5em) {
  .navbar__cart-price {
    font-size: 14px;
  }
}

@media (max-width: 37.5625em) {
  .navbar__cart-price {
    font-size: 12px;
  }
}

.navbar__middle {
  padding: 10px 0;
}

.navbar__middle .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto !important;
}

.navbar__middle-ads {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
}

.navbar__middle-search {
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  z-index: 60;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

.navbar__middle-search:focus-within {
  width: 50%;
}

@media (max-width: 37.5625em) {
  .navbar__middle-search {
    width: 200px;
  }
  .navbar__middle-search:focus-within {
    width: 90%;
  }
}

@media (max-width: 23.4375em) {
  .navbar__middle-search {
    width: 30%;
  }
}

.ads-free-shipping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 79em) {
  .ads-free-shipping .free-text p {
    font-size: 14px;
  }
}

.ads-free-shipping .price-bold {
  font-weight: 700;
  color: #d83939;
  font-size: 20px;
  vertical-align: top;
  margin-left: 5px;
}

@media (max-width: 79em) {
  .ads-free-shipping .price-bold {
    font-size: 14px;
  }
}

.ads-free-shipping .free-icon {
  margin-left: 5px;
}

.ads-free-shipping .free-icon svg {
  height: 50px;
  width: 50px;
}

@media (max-width: 79em) {
  .ads-free-shipping .free-icon svg {
    height: 40px;
    width: 40px;
  }
}

.search {
  display: none;
  position: absolute;
  width: 950px;
  background: #fff;
  z-index: 1000;
  right: 0;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  top: 50px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  overflow: hidden;
  text-align: left;
}

@media (max-width: 79em) {
  .search {
    right: -100%;
  }
}

@media (max-width: 62.5em) {
  .search {
    position: absolute;
    width: 95%;
    right: 10px;
    top: 130px;
  }
}

@media (max-width: 56.25em) {
  .search {
    width: 270px;
    top: 45px;
  }
}

@media (max-width: 37.5625em) {
  .search {
    border-radius: 1px;
  }
}

@media (max-width: 23.4375em) {
  .search {
    width: 210px;
  }
}

.search__live {
  width: 72%;
  padding: 20px 20px 30px 20px;
}

@media (max-width: 56.25em) {
  .search__live {
    display: none;
  }
}

.search__default {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 50px;
  width: 250px;
  background: #fff;
  z-index: 10;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  z-index: 1000;
}

@media (max-width: 62.5em) {
  .search__default {
    width: 220px;
    top: 125px;
    right: 15px;
  }
}

@media (max-width: 56.25em) {
  .search__default {
    width: 200px;
    top: 45px;
    right: 0;
  }
}

@media (max-width: 23.4375em) {
  .search__default {
    width: 160px;
  }
}

.search__default h3 {
  font-size: 20px;
  margin: 10px 0;
}

@media (max-width: 37.5625em) {
  .search__default h3 {
    font-size: 18px;
  }
}

.search__default a {
  display: block;
  color: #424242;
  padding: 10px 5px;
}

@media (max-width: 37.5625em) {
  .search__default a {
    font-size: 15px;
  }
}

.search__help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 20px;
  border-top: 1px solid #f6f6f6;
}

.search__help-title {
  font-size: 20px;
  color: #787878;
}

.search__help-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 15px;
}

.search__help-items {
  border: 1px solid #7f7f7f;
  color: #44414f;
  border-radius: 50px;
}

.search__help-items a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 7px 20px;
  font-size: 16px;
  color: #44414f;
}

.search__help-items:not(:last-child) {
  margin-right: 10px;
}

.search__live-header {
  font-size: 12px;
  margin-bottom: 15px;
}

.search__live-header h1 {
  text-align: left;
}

.search__live-header h1 span {
  color: #0a2972;
}

.search__live-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.search__live-list li {
  width: 20%;
}

.search__live-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff !important;
  background-color: #0a2972 !important;
  padding: 10px 20px;
  border-radius: 3px;
  margin-top: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: auto;
}

.search__auto {
  width: 260px;
  padding: 10px;
  background-color: #f7f7f7;
  min-height: 320px;
}

@media (max-width: 62.5em) {
  .search__auto {
    width: 35%;
  }
}

@media (max-width: 56.25em) {
  .search__auto {
    width: 100%;
  }
}

@media (max-width: 48em) {
  .search__auto {
    background: #fff;
    width: 100%;
    padding: 8px;
    padding-top: 0;
  }
}

.search__auto-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.search__auto-text {
  font-size: 18px;
  margin-right: auto;
}

.search__auto-text span {
  font-weight: 600;
  color: #0a2972;
}

.search__auto-result {
  position: relative;
  width: 100%;
  padding: 10px 5px;
}

@media (max-width: 56.25em) {
  .search__auto-result {
    padding-top: 0;
  }
}

.search__auto-result li {
  width: 100%;
  text-align: left;
}

.search__auto-result li:not(:last-child) {
  margin-bottom: 12px;
}

.search__auto-result li:hover a, .search__auto-result li:focus a {
  position: relative;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  font-weight: 700;
  color: #0a2972 !important;
  left: 4px;
}

.search__auto-result a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
  font-size: 18px;
  text-align: left !important;
}

@media (max-width: 23.4375em) {
  .search__auto-result a {
    font-size: 16px;
  }
}

@media (max-width: 23.4375em) {
  .search__auto-result a {
    font-size: 15px;
  }
}

.search__auto-result a span {
  display: inline-block;
  margin-left: auto;
  font-weight: 400;
  font-size: 15px;
}

.card--search {
  width: 100%;
  padding: 5px !important;
  position: relative;
  border-radius: 3px;
  margin-bottom: 10px;
  border: 3px solid transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card--search:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  padding-left: 5px;
  position: relative;
  border: 3px solid #a3a3a3;
}

.card--search:hover .card--search__title {
  color: #000;
}

.card--search__link {
  width: 100%;
  height: 100%;
}

.card--search__img {
  overflow: hidden;
  display: block;
  width: 100%;
  border-radius: 2px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.card--search__img img {
  width: 100%;
}

.card--search__body {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
}

.card--search__brand {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  height: 24px;
  margin-top: 2px;
}

.card--search__brand img {
  height: 100%;
}

.card--search__title {
  border-bottom: 0;
  padding: 5px 0;
  font-size: 14px;
}

.search-show {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.n-mobile-only {
  display: none;
}

@media (max-width: 62.5em) {
  .n-mobile-only {
    display: unset;
  }
}

.n-desktop-only {
  display: flow-root;
}

@media (max-width: 62.5em) {
  .n-desktop-only {
    display: none;
  }
}

.login-floater {
  display: none;
  position: absolute;
  top: 100% !important;
  right: 0 !important;
  background: #fff;
  padding: 30px 50px 40px 50px !important;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px !important;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-top: 0 !important;
}

@media (max-width: 37.5625em) {
  .login-floater {
    display: none;
  }
}

.login-floater__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.login-floater__footer {
  text-align: center;
}

.login-floater__footer a {
  text-decoration: underline;
  color: #44414f;
  font-weight: 700;
}

.default {
  background-color: #0a2972;
}

@media (max-width: 62.5em) {
  .show-sub-list .mega-menu {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media (max-width: 62.5em) {
  .show-sub-list .navbar__footer-header {
    background-color: #0a2972;
  }
}

.show-sub-list .navbar__footer-item-btn img {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.show-sub-list .navbar__footer-brands {
  display: block !important;
}

.show-sub-list .navbar__footer-more {
  display: block !important;
}

.show-sidebar {
  display: block !important;
}

#ajax_response {
  top: 100% !important;
  margin-top: 0 !important;
}

.navbar-relative {
  position: relative;
}

.card--primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card--primary__image {
  position: relative;
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.card--primary__image img {
  width: 100%;
}

.card--primary__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
}

.card--primary__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 0;
}

.card--primary__brand {
  height: 25px;
  margin-right: 8px;
}

.card--primary__brand img {
  height: 100%;
}

.card--primary__title {
  font-size: 14px;
  color: #000;
}

.card--primary__available {
  width: 32%;
  font-size: 14px;
}

.card--primary__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.card--primary__price .start-at {
  font-size: 13px;
  margin-right: 5px;
}

.card--primary__price .price {
  font-size: 25px;
  font-weight: 700;
  color: #d83939;
}

.brand-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.product-preview {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-bottom: none;
}

.product-preview__header {
  padding: 10px;
}

.product-preview__header h3 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  color: #44414f;
}

.product-preview__body .row > *:first-child {
  border-left: none !important;
}

.ads-box {
  padding: 15px 10px;
}
