@charset "UTF-8";
.container {
  margin: auto;
  max-width: 1200px;
  width: 100%;
}

.mb-1 {
  margin-bottom: 10px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Roboto Condensed", sans-serif;
}

main {
  min-height: 50vh;
}

.btn {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  font: inherit;
}

.btn--track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #09366d;
  padding: 5px 15px 5px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn--track__icon {
  fill: #fff;
  margin-right: 10px;
  height: 18px;
}

.btn--track__label {
  font-size: 14px;
  color: #fff;
}

.btn--cart svg {
  height: 35px;
}

.btn--icon {
  position: relative;
}

.btn--icon svg {
  height: 35px;
  fill: #09366d;
}

.btn--icon__count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: -15px;
  top: -15px;
  background: #d83939;
  height: 24px;
  width: 24px;
  border-radius: 100%;
  color: #fff;
}

.inp {
  border: none;
  background: none;
  outline: none;
  font: inherit;
}

.inp--search {
  position: relative;
  height: 45px;
  width: 100%;
}

.inp--search__input {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 10px;
  background: #f3f3f3;
  font-size: 16px;
}

.inp--search__button {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 60px;
  background: #09366d;
}

.inp--search__button svg {
  fill: #fff;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  position: relative;
}

.navbar__main {
  height: 120px;
}

.navbar__logo {
  height: 50px;
  width: 300px;
}

.navbar__logo img {
  height: 100%;
}

.navbar__ads {
  margin-left: 20px;
}

.navbar__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 380px;
  margin: 0 auto;
}

.navbar__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.navbar__action > *:not(:last-child) {
  margin-right: 10px;
}

.navbar__footer {
  background: #44414f;
}

.navbar__footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.navbar__footer-item:hover .mega-menu {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

@media (max-width: 62.5em) {
  .navbar__footer-item:hover .mega-menu {
    display: none !important;
  }
}

.navbar__footer-item:hover .navbar__footer-link {
  background-color: #fff;
  color: #44414f;
}

.navbar__footer-link {
  display: block;
  padding: 14px 14px;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.ads-free-shipping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.ads-free-shipping .price-bold {
  font-weight: 700;
  color: #d83939;
  font-size: 20px;
  vertical-align: top;
  margin-left: 5px;
}

.ads-free-shipping .free-icon {
  margin-left: 5px;
}

.ads-free-shipping .free-icon svg {
  height: 50px;
  width: 50px;
}

.footer {
  background-color: #44414f;
  color: #fff;
  padding: 70px 0;
}

.footer__logo {
  height: 70px;
}

.footer__logo img {
  height: 100%;
}

.footer__list-header {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.footer__list-group > *:not(:last-child) {
  margin-bottom: 9px;
}

.footer__list-item {
  font-size: 16px;
  font-weight: 300;
}

.footer__list-link {
  color: #e6e6e6;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.footer__list-link:hover {
  color: #fff;
  text-decoration: underline;
}

.footer__payments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__payments li {
  border-radius: 5px;
  overflow: hidden;
  height: 35px;
}

.footer__payments img {
  height: 100%;
}

.footer__payments > :not(:last-child) {
  margin-right: 10px;
}

.footer__credit {
  display: block;
  text-align: center;
  width: 100%;
  margin-top: 30px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.align-item-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

.mega-menu {
  display: none;
  position: absolute;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  background: #fff;
  z-index: 2000;
  top: 51px;
  left: 0;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  border-top: none;
}

@media (max-width: 62.5em) {
  .mega-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    width: 100% !important;
  }
}

.mega-menu ul {
  display: block !important;
  position: relative !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  width: auto !important;
  left: 0 !important;
  min-width: 100% !important;
}

@media (max-width: 62.5em) {
  .mega-menu ul {
    width: 100%;
  }
}

.mega-menu__title {
  display: block;
  font-weight: 700 !important;
  font-size: 16px !important;
  margin-bottom: 5px;
  padding: 0 !important;
  padding-bottom: 5px !important;
  color: #000;
  width: 100% !important;
  position: relative;
}

@media (max-width: 62.5em) {
  .mega-menu__title {
    margin-bottom: 0px;
    padding-bottom: 0px !important;
    /* Start - Drawer is not fixed to its position and still scrollable - CL - 09/23/2020 */
    font-weight: 300 !important;
    padding: 5px 10px !important;
    font-size: 15px !important;
    /* End - Drawer is not fixed to its position and still scrollable - CL - 09/23/2020 */
  }
}

.mega-menu__title::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  right: 20px;
  color: #fff;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  content: "⇀";
  background: #0a2972;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  opacity: 0;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.mega-menu__title:hover {
  color: #0a2972;
}

.mega-menu__title:hover::after {
  opacity: 1;
  right: 10px;
}

.mega-menu__more {
  display: none !important;
  padding: 0 !important;
  margin-top: 10px !important;
  font-size: 15px !important;
  color: #0a2972 !important;
  font-weight: 600 !important;
  position: relative;
  border-bottom: none !important;
  right: 0;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

@media (max-width: 62.5em) {
  .mega-menu__more {
    display: none !important;
  }
}

.mega-menu__more:hover {
  right: -2px;
}

.mega-menu__more span {
  font-size: 18px;
  font-weight: 700;
  bottom: -6px;
  position: relative !important;
  top: 0 !important;
  right: 0 !important;
  display: inline !important;
}

.mega-menu__sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25% !important;
  padding: 15px 0;
  padding-left: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 10px;
  overflow: hidden;
}

@media (max-width: 62.5em) {
  .mega-menu__sub {
    width: 100% !important;
    padding: 5px;
  }
}

.mega-menu__sub:hover {
  background-color: #e9efff;
}

.mega-menu__sub ul {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 0 !important;
  padding-top: 6px;
  background: none !important;
}

@media (max-width: 62.5em) {
  .mega-menu__sub ul {
    display: none !important;
  }
}

.mega-menu__sub li a {
  display: block;
  width: 100% !important;
  border: none !important;
  padding: 5px 15px 5px 0 !important;
  font-size: 14px !important;
  color: #3b3b3b !important;
  position: relative !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 62.5em) {
  .mega-menu__sub li a {
    border-bottom: none !important;
  }
}

.mega-menu__sub li a:hover {
  color: #0a2972;
  font-weight: 600;
  background: none !important;
  color: #fff;
}

.mega-menu__sub a {
  background: none !important;
}

.mega-menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.mega-menu__body > *:first-child {
  margin-right: 10px !important;
}

.mega-menu__text {
  width: 70% !important;
  height: 100% !important;
}

.mega-menu__img {
  display: block;
  position: relative;
  height: 100%;
  width: 30% !important;
}

.mega-menu__img .image {
  position: absolute;
  left: -50%;
  -webkit-transform: translateX(-25%);
          transform: translateX(-25%);
  top: 0;
  height: 100%;
}
