@import "mixin";
@import "color";

@mixin emotion-active {
  .neutral,
  .happy,
  .love,
  .angry,
  .sad {
    .outline {
      fill: #000;
    }
  }
  .neutral,
  .happy,
  .love {
    .circle {
      fill: #f5b108;
    }
  }

  .angry {
    .circle {
      fill: #f73908;
    }
  }

  .sad {
    .circle {
      fill: #f66108;
    }
  }

  .neutral {
  }

  .love {
    .outline {
      fill: #f71108;
      stroke: #f71108 !important;
    }
    .border {
      fill: #000;
    }
    .smile {
      fill: #000 !important;
    }
  }
}

.input-emotion-select {
  display: flex;
  align-items: center;

  .input-group__label {
    font-size: 18px !important;
    text-align: center;
    width: 60%;
    color: 282828;
    margin: 0 auto;
    margin-bottom: 8px;

    @include respond(mobile-lg) {
      font-size: 16px !important;
      width: 80%;
    }

    @include respond(mobile-m) {
      font-size: 15px !important;
    }
  }
}

.emotion-select {
  display: flex;
  align-items: center;
  &__btn {
    background: none;
    transition: all 300 ease;
    &:not(:last-child) {
      margin-right: 10px;

      @include respond(mobile-lg) {
        margin-right: 8px;
      }
      @include respond(mobile-ms) {
        margin-right: 5px;
      }
    }

    svg {
      width: 75px;

      @include respond(tab-port) {
        width: 65px;
      }
      @include respond(mobile-lg) {
        width: 60px;
      }
      @include respond(mobile-ms) {
        width: 50px;
      }
      @include respond(mobile-m) {
        width: 48px;
      }
    }

    .outline,
    .border,
    .smile,
    .circle {
      transition: all 300 ease;
    }

    p {
      display: none;
    }

    &:hover {
      @include emotion-active();
    }
  }

  .selected {
    transform: scale(1.1);
    @include emotion-active();
  }
}

.backdrop-new {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  height: auto;
  width: 100%;
  height: 100%;
  z-index: 999;
  overflow-x: hidden;
  overflow-y: scroll;
}

.btn {
  &--continue {
    border: 1px solid #00234f;
  }

  &--continue,
  &--view-cart {
    padding: 8px;
    font-size: 18px;

    @include respond(mobile-lg) {
      font-size: 16px;
    }
    @include respond(mobile-lg) {
      padding: 6px;
      font-size: 14px;
    }
  }

  &--view-cart {
    background-color: #00234f;
    color: #fff;
  }
}

.separator {
  display: block;
  height: 0.5px;
  background-color: #e2e2e2;
  width: 100%;
  margin: 10px 0;
}

.modal {
  &__logo {
    cursor: pointer;
    user-select: none;

    @include respond(mobile-lg) {
      img {
        height: 36px;
      }
    }
    @include respond(mobile-m) {
      img {
        height: 32px;
      }
    }
  }
  &__content {
    // display: flex;
    // align-items: center;
    height: 100%;
    overflow-y: auto;
    max-width: 550px;
    margin: 0 auto;
  }
  &__exit {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 22px;
    color: $color-darkblue;
  }
  &__heading {
    color: $color-darkblue;
    font-size: 26px;

    @include respond(mobile-lg) {
      font-size: 22px;
    }
    @include respond(mobile-m) {
      font-size: 20px;
    }
  }

  &__body {
    color: $color-gray;
  }

  &--feedback {
    position: relative;
    width: 550px;
    // height: 550px;
    margin: 40px auto;
    background: $color-white;
    padding: 25px;
    // padding-top: 40px;

    .rate-it {
      width: auto;
      height: 38px !important;
      font-size: 35px !important;
    }
    .rate-select-layer {
      height: 38px !important;
    }
    @include respond(tab-port) {
      width: 90%;
    }

    @include respond(mobile-lg) {
      padding: 25px 15px;
    }
    @include respond(mobile-m) {
      padding: 20px 12px;
      margin: 20px auto;
    }
    @include respond(mobile-s) {
      width: 95%;
    }

    .jq-star {
      @include respond(mobile-m) {
        height: 28px !important;
        width: 28px !important;
      }
    }

    .modal__header {
      text-align: center;
    }

    .modal__text {
      color: #ababab;
      font-size: 17px;
      @include respond(mobile-lg) {
        font-size: 14px;
      }
    }

    .input-group {
      textarea {
        min-height: 100px;
        max-height: 100px;
        resize: none;

        @include respond(mobile-m) {
          min-height: 70px;
        }
      }
      select {
        padding: 10px;
      }

      select:invalid {
        color: #44414f;
      }

      label {
        font-weight: 400;
        font-size: 16px;
        color: #44414f;

        @include respond(mobile-lg) {
          font-size: 14px;
        }
        @include respond(mobile-m) {
          font-size: 13px;
        }
      }

      .inp--secondary {
        padding: 13px;
        font-size: 16px;
        @include respond(mobile-lg) {
          font-size: 14px;
          padding: 10px;
        }
        @include respond(mobile-m) {
          font-size: 13px;
          padding: 8px;
        }

        &::placeholder {
          font-size: 16px;
          @include respond(mobile-lg) {
            font-size: 14px;
          }
        }
      }

      p {
        font-size: 14px;
        margin-bottom: 10px;
        color: #8d8d8d;

        @include respond(mobile-lg) {
          font-size: 12px;
        }
      }
    }

    &__icon {
      svg {
        height: 107px;
        width: 104px;
        fill: #ffc700;

        @include respond(mobile-lg) {
          height: 90px;
          width: 85px;
        }
      }
    }

    &__footer {
      p {
        text-align: center;
        font-size: 15px;
        color: #44414f;

        @include respond(mobile-lg) {
          font-size: 13px;
        }
      }

      a {
        color: $color-darkblue;
        font-weight: 700;
      }
    }
  }
  &--added-cart {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background-color: #fff;
    width: 600px;
    padding: 0 !important;

    @include respond(tab-port) {
      max-height: 90%;
      overflow: auto;
      width: 90%;
    }

    .heading {
      margin: 0 auto;
      color: #00234f;
      display: flex;
      align-items: center;
      margin-top: 15px;
      font-size: 26px;

      @include respond(mobile-lg) {
        font-size: 23px;
      }
      @include respond(mobile-m) {
        font-size: 20px;
      }
      svg {
        fill: #00234f;
        height: 42px;
        width: 42px;
        margin-right: 10px;
        display: inline-block;
        @include respond(mobile-lg) {
          height: 36px;
          width: 36px;
          margin-right: 6px;
        }
        @include respond(mobile-m) {
          height: 34px;
          width: 34px;
        }
      }
    }

    &__exit {
      font-size: 28px;
      font-weight: 800;
      position: absolute;
      right: 20px;
      top: 15px;
      @include respond(mobile-lg) {
        font-size: 22px;
      }
      @include respond(mobile-m) {
        right: 10px;
        top: 5px;
      }
    }

    // &__product {
    //   width: 100%;
    //   text-align: center;
    //   margin-top: 10px;
    // }

    // &__product-photo {
    //   height: 135px;

    //   img {
    //     height: 100%;
    //   }
    // }

    &__product-title {
      font-size: 20px;
      color: #44414f;
      margin-bottom: 15px;

      @include respond(mobile-lg) {
        font-size: 18px;
      }
      @include respond(mobile-m) {
        font-size: 16px;
        margin-bottom: 8px;
      }
    }

    // &__product-info {
    //   display: flex;
    //   align-items: flex-start;
    //   width: 60%;
    //   margin: 0 auto;
    //   text-transform: uppercase;

    //   .color {
    //     display: inline-flex;
    //     align-items: center;
    //     font-weight: 700 !important;
    //     margin-right: auto;
    //     .box {
    //       display: inline-block;
    //       height: 22px;
    //       width: 22px;
    //       border: 1px solid #000;
    //       margin-right: 5px;
    //     }
    //   }

    //   .others {
    //     list-style: none;
    //     li {
    //       display: flex;
    //       align-items: center;

    //       & > *:not(:last-child) {
    //         margin-right: 12px;
    //       }
    //     }

    //     p {
    //     }

    //     span {
    //       font-size: 16px;
    //       color: #707070;
    //     }
    //     b {
    //       font-size: 16px;
    //       color: #000;
    //     }
    //   }
    // }

    &__action {
      padding: 15px;
      display: flex;
      width: 100%;
      margin-top: 10px;

      @include respond(mobile-lg) {
        flex-direction: column;
        padding: 10px;
      }

      .btn {
        width: 50%;
        @include respond(mobile-lg) {
          width: 100%;
        }
      }

      & > *:first-child {
        margin-right: 10px;
        @include respond(mobile-lg) {
          margin-right: 0;
          margin-bottom: 5px;
        }
      }
    }

    &__list {
      width: 100%;
      font-size: 18px;
      text-align: center;
      max-height: 300px;
      overflow: auto;

      @include respond(mobile-lg) {
        min-height: 200px;
        max-height: 200px;
      }
      @include respond(mobile-m) {
        min-height: 150px;
        max-height: 150px;
      }
      @include respond(mobile-s) {
        min-height: 100px;
        max-height: 100px;
      }
    }

    &__product-title {
      margin-top: 15px;
      width: 100%;
      text-align: center;

      @include respond(mobile-lg) {
        margin-bottom: 10px;
      }
      @include respond(mobile-m) {
        margin-bottom: 8px;
      }
    }

    &__item {
      margin-top: 10px;
      display: flex;
      padding: 0 10px;

      &:not(:last-child) {
        padding-bottom: 10px;
        border-bottom: 0.5px solid rgba(0, 0, 0, 0.08);
      }
    }

    &__item-photo {
      height: 100px;
      margin-right: 10px;

      @include respond(mobile-lg) {
        height: 80px;
      }
      @include respond(mobile-m) {
        height: 65px;
      }
      img {
        height: 100%;
      }
    }

    &__item-color {
      margin-right: auto;
      text-transform: uppercase;
      .color {
        display: inline-flex;
        align-items: center;
        // font-weight: 700 !important;
        margin-right: auto;
        @include respond(mobile-lg) {
          font-size: 14px;
        }
        .box {
          display: inline-block;
          height: 25px;
          width: 25px;
          min-width: 25px;
          border: 1px solid #000;
          margin-right: 8px;

          @include respond(mobile-lg) {
            height: 20px;
            width: 20px;
            min-width: 20px;
          }
          @include respond(mobile-m) {
            height: 18px;
            width: 18px;
            min-width: 18px;
            margin-right: 4px;
          }
        }
      }
    }

    &__item-table {
      text-transform: uppercase;
      th {
        font-size: 14px;
        color: #707070;
        font-weight: 400;
      }

      tr {
      }
      th,
      td {
        padding: 2px 25px 2px 15px;

        @include respond(mobile-lg) {
          padding: 2px 15px 2px 5px;
        }

        @include respond(mobile-m) {
          padding: 2px 10px 2px 0;
        }
        @include respond(mobile-s) {
          padding: 2px 4px 2px 0;
        }
      }
      td {
        font-size: 16px;
        color: #000;
        // font-weight: 600;
      }
    }

    &__cards {
      width: 100%;
      padding: 0 10px 15px 10px;

      @include respond(mobile-lg) {
        padding: 0 10px 15px 10px;
      }

      .product-holder {
        width: 25% !important;

        @include respond(mobile-lg) {
          width: 33.33333% !important;

          &:last-child {
            display: none;
          }

          .product-price {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-top: 3px;
          }

          .starting_at {
            font-size: 10px !important;
          }

          .product-price h3 {
            font-size: 15px;
          }
          .product-info {
            padding: 0px 5px;
          }

          .product-name {
            font-size: 12px;
          }
        }

        @include respond(mobile-m) {
          .cost-row {
            padding: 5px 0;
          }
        }

        @include respond(mobile-s) {
          .starting_at {
            display: none;
          }
        }
      }

      p {
        text-align: center;
        font-size: 18px;
        margin-bottom: 10px;

        @include respond(mobile-lg) {
          font-size: 16px;
        }
        @include respond(mobile-lg) {
          font-size: 14px;
        }
      }
    }
  }

  &--coupon {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 20px;
    width: 400px;
    position: relative;
    text-align: center;

    @include respond(mobile-lg) {
      padding: 15px;
      width: 80%;
    }
    @include respond(mobile-m) {
      width: 90%;
    }

    .heading {
      margin: 0 auto;
      color: #00234f;
      display: flex;
      align-items: center;
      font-size: 26px;

      @include respond(mobile-lg) {
        font-size: 23px;
      }
      @include respond(mobile-m) {
        font-size: 20px;
      }
      svg {
        fill: #00234f;
        height: 42px;
        width: 42px;
        margin-right: 10px;
        display: inline-block;
        @include respond(mobile-lg) {
          height: 36px;
          width: 36px;
          margin-right: 6px;
        }
        @include respond(mobile-m) {
          height: 34px;
          width: 34px;
        }
      }
    }

    &__exit {
      font-size: 20px;
      font-weight: 800;
      position: absolute;
      right: 15px;
      top: 10px;
      @include respond(mobile-lg) {
        font-size: 18px;
      }
      @include respond(mobile-m) {
        right: 10px;
        top: 5px;
      }
    }

    &__description {
      margin-top: 15px;
      font-size: 18px;
    }
  }

  &--dashboard {
    position: relative;
    width: 600px;
    background-color: #fff;
    padding: 20px;
    margin: 0 auto;
    @include respond(mobile-lg) {
      width: 90%;
    }
  }
}

.show-modal {
  display: block !important;
}

.btn {
  &--float-feedback {
    background: $color-gray;
    color: #fff;
    padding: 10px 20px;
    position: fixed;
    // height: 30px;
    right: -35px;
    top: 60%;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    transform: rotate(-90deg);
    z-index: 100;
    @include transition;

    @include respond(mobile-lg) {
      font-size: 16px;
      padding: 8px 16px;
    }
    @include respond(mobile-m) {
      font-size: 14px;
      padding: 6px 14px;
      font-weight: 400;
    }

    &:hover {
      background: $color-darkblue;
    }
  }

  &--feedback {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 16px;
    background: $color-darkblue;
    font-weight: 700;
    border-radius: 4px;
    font-size: 18px;
    letter-spacing: 0.5px;

    @include respond(mobile-lg) {
      padding: 12px;
      font-size: 16px;
    }
    @include respond(mobile-lg) {
      padding: 10px;
      font-size: 14px;
    }
  }
}
