$my-padding: 15px 15px !important;

@import "./mixin";
@import "./color";

.border {
  border: 1px solid #44414f;
}

.border-bottom {
  border-bottom: 1px solid #44414f;
}

.order-confirm-loading {
  display: flex;
  //   align-items: center;
  justify-content: center;
  position: absolute;
  padding-top: 30px;
  top: 0;
  left: 0;
  z-index: 10;
  background: #fff;
  width: 100%;
  height: 100%;
  border: 1px solid lightgray;
  font-weight: 700;
}

.card--orderconfirm {
  background: #ffffff;
  border-radius: 3px;
}

.print-logo {
  // display: none;
}

body,
html {
  font-family: "Roboto Condensed", "Arial Narrow";
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
}

#page {
  background: #f3f3f3 !important;
}

.print-header {
  // display: none;
}

.table--primary__bottom {
  display: none;
}

.est-green {
  color: #009b00 !important;
}

/* thead {
    display: table-header-group;
  } */

tfoot {
  display: table-row-group;
}

tr {
  page-break-inside: avoid;
}

.print-btns {
  display: flex;
  align-items: center;
  margin-left: auto;

  @include respond(laptop-s) {
    margin-left: unset;
    margin-top: 10px;
  }
}

.download-pdf,
.download-print {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: center;
  padding: 10px 35px;

  @include respond(mobile-lg) {
    height: 40px;
    padding-top: 12px 25px;
    font-size: 16px !important;
  }
}

.download-pdf {
  background: #ad0b00;
  margin-right: 8px;
}
.download-pdf .icon {
  margin-right: 5px;
}
.download-pdf .icon svg {
  height: 19px;
  width: 17px;
  fill: #fff;
}

.error-page {
  display: flex;
  width: 100%;
  height: 50vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  &__message {
    font-size: 24px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
    @include respond(tab-port) {
      font-size: 22px;
    }
    @include respond(mobile-lg) {
      font-size: 20px;
    }
    @include respond(mobile-m) {
      font-size: 16px;
    }
  }
  .btn--tertiary {
    width: 400px;
    @include respond(tab-port) {
      width: 340px;
    }
    @include respond(mobile-lg) {
      width: 250px;
    }
    @include respond(mobile-s) {
      width: 80%;
    }
  }
}

.order-confirm {
  display: flex;
  margin-bottom: 50px;
  align-items: flex-start;

  @include respond(tab-port) {
    flex-direction: column;
  }

  &__print {
    display: none;
    padding: 20px;

  }
  
  &__check {
    text-align: center;
    margin-bottom: 15px;
    img {
      height: 70px;
      width: 70px;
    }
  }

  &__no {
    text-align: center;
    font-weight: 400;
    color: $color-darkblue;
    // margin-bottom: 10px;
    font-size: 24px;
    font-weight: 700;
    
  }

  &__confirmed {
    text-align: center;
    color: $color-green;
    font-size: 20px;
    margin-top: 3px;
  }

  &__paypal {
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
    font-weight: 600;
    color: $color-darkblue;
    font-size: 18px;
    margin: 20px 0;
    user-select: none;
    img {
      height: 24px;
      margin-right: 5px;
    }
  }

  &__message {
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  &__header {
    color: $color-darkblue;
    font-size: 22px;
    margin-bottom: 10px;
  }
  &__info {
    min-width: 350px;
    width: 370px;
    margin-right: 20px;

    @include respond(tab-port) {
      width: 100%;
      min-width: 100%;
    }
  }



  &__summary {
    flex: 100%;
    padding: 15px 15px 30px 15px;

    @include respond(tab-port) {
      margin-top: 20px;
      width: 100%;
    }
  }
  &__intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: $my-padding;
    padding-bottom: 20px;
  
  }
  &__body {

    padding: $my-padding;
    padding-top: 0 !important;
    [class*="col-"] {
      @include respond(laptop-s) {
        margin-bottom: 20px;
      }
      &:not(:last-child) {
        @include respond(mobile-lg) {
          border-bottom: 1px solid $color-lightgray;
          padding-bottom: 10px;
        }
      }
    }
    
    h2 {
      font-size: 18px;
      margin-bottom: 8px;
      color: #0a2972;
    }
    p {
      line-height: 1.5;
      color: #44414F;
    }
    #shipcostid {
      color: $color-green;
      h2,
      p {
        color: $color-black;
      }
    }
    .oc-left {
      a {
        color: $color-lightblue3;
      }
    }
  }
  &__item {
    padding: 20px 0;
    &:not(last-child) {
      border-top: 1px solid #ECECEC;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .table-mobile tr {
    display: table !important;
  }
}

@media only screen and (max-width: 1000px) {
  .table-mobile ul {
    padding: 0 !important;
  }
  .table-mobile tr {
    display: table !important;
    padding-left: 90px !important;
    display: block !important;
    overflow: auto;
    margin-bottom: 5px;
    border-bottom: 1px solid #ddd;
    &:last-child {
      border-bottom: 0;
    }
  }
  .table-mobile .image {
    width: 80px !important;
    position: absolute;
    left: 0;
  }
  .table-mobile .description {
    width: 95% !important;
    float: none;
  }
  .table-mobile .total,
  .table-mobile .quantity,
  .table-mobile .price {
    width: 100% !important;
    padding: 5px !important;
    padding-left: 0px !important;
  }
  // .table-mobile .quantity {
  //     padding-left: 0px !important;
  //     &:before {
  //         content: 'QTY:';
  //         margin-right: 5px;
  //         display: inline-block;
  //         font-weight: bold;
  //     }
  // }
  // .table-mobile .price {
  //     float: none;
  //     text-align: left;
  //     padding-left: 0px !important;
  //     &:before {
  //         content: 'Price:';
  //         margin-right: 5px;
  //         display: inline-block;
  //         font-weight: bold;
  //     }
  // }
  .table-mobile .total {
    float: none;
    text-align: left !important;
    padding-left: 0px !important;
    position: inherit !important;
    margin: 0 !important;
    // &:before {
    //     content: 'Total:';
    //     margin-right: 5px;
    //     display: inline-block;
    // }
  }
}

@media only screen and (max-width: 375px) {
  .table-mobile tr {
    padding-left: 74px !important;
  }
  .table-mobile .image {
    width: 60px !important;
    position: absolute;
    left: 0;
  }
}

.color--red {
  color: $color-red2;
}

.delivery-flex {
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: 15px;
  margin: 12px 0;
  @media only screen and (max-width: 375px) {
    font-size: 12px;
  }
  img {
    margin-right: 10px;
  }
  span {
    margin-right: 5px;
    &:last-child {
      margin-left: 5px;
    }
  }
  @media only screen and (max-width: 400px) {
    flex-wrap: wrap;
    strong {
      display: block;
      width: 100% !important;
    }
    span {
      margin-right: 5px;
      &:last-child {
        margin-left: 5px;
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .table-mobile .visible--desktop,
  .table-mobile .delivery--desktop {
    display: none !important;
  }
  .table-mobile .delivery--mobile {
    display: block !important;
  }
  .table-mobile .three-items {
    display: flex !important;
    align-items: center;
    position: relative;
    top: -7px;
    &__item {
      margin-right: 20px;
      font-weight: normal;
      font-size: 17px;
      b {
        margin-right: 5px;
      }
    }
  }
}

@media only screen and (max-width: 375px) {
  .table-mobile .three-items {
    &__item {
      margin-right: 20px;
      font-weight: normal;
      font-size: 14px;
      b {
        margin-right: 5px;
      }
    }
  }
}

$color-checkout-darkgray: #4b4b4b;
$color-checkout-lightgray: #989898;
$color-checkout-border: #c7c7c7;

.orderconfirm-new-table {
  text-align: left;
  width: 100%;
}

.orderconfirm-new-table .order-num {
  font-weight: 600;
}

.orderconfirm-new-table .order-num span {
  color: #0a2972 !important;
  font-size: 18px;
}

.orderconfirm-new-table tr:not(:last-child) {
  margin-bottom: 20px;
}

.orderconfirm-new-table td {
  padding: 5px 5px 10px 0 !important;
}

@media (max-width: 37.5625em) {
  .orderconfirm-new-table td {
    padding-bottom: 0 10px !important;
  }
  .orderconfirm-new-table td span {
    // text-align: right;
    // width: 60%;
  }
}

.orderconfirm-new-table td:not(:last-child) {
  padding-right: 10px;
}

.orderconfirm-new-table th {
  padding-bottom: 15px !important;
}

.orderconfirm-new-table tr,
.orderconfirm-new-table th,
.orderconfirm-new-table td {
  vertical-align: top;
}

.orderconfirm-new-table .action {
  width: 300px;
}

@media (max-width: 79em) {
  .orderconfirm-new-table .action {
    width: 200px;
  }
}

@media (max-width: 1000px) {
  .orderconfirm-new-table .action {
    width: auto;
  }
}

@media (max-width: 37.5625em) {
  .orderconfirm-new-table .action {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.orderconfirm-new-table .order-date {
  width: 20%;
}

@media (max-width: 1000px) {
  .orderconfirm-new-table .order-date {
    width: auto;
  }
  .orderconfirm-new-table th {
    display: none;
  }
  .orderconfirm-new-table thead {
    display: none;
  }
  .orderconfirm-new-table tr {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px 0;
  }
  .orderconfirm-new-table tr:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .orderconfirm-new-table td {
    display: flex;
    // align-items: center;
  }
}

@media (max-width: 23.4375em) {
  .orderconfirm-new-table td {
      font-size: 15px;
  }
}

.orderconfirm-new-table {
  width: 100%;

  td {
    padding-top: 8px;
  }

  th {
    text-align: left;
  }

  .row-image {
    width: 80px;
    @include respond(mobile-ms) {
      width: 20%;
    }
  }

  .item-image {
    a {
      display: flex;
      //   height: 100px;
      width: 70px;
      border-radius: 4px;
      align-items: flex-start;
      border: 2px solid #ededed;

      @include respond(mobile-ms) {
        width: 100%;
      }
    }

    img {
      width: 100%;
      height: auto !important;

      @include respond(mobile-ms) {
        max-height: 90px;
      }
    }
  }

  .row-item {
    @include respond(mobile-ms) {
      width: 80%;
    }
  }
  .item-title {
    color: $color-checkout-darkgray;
    font-size: 18px;
    font-weight: 700;
  }

  .item-color,
  .item-size,
  .item-est {
    font-size: 15px;
    margin-top: 4px;
    p {
      color: $color-checkout-lightgray;
      b {
        color: $color-checkout-darkgray;
      }
    }
  }

  .item-color {
    display: flex;
  }

  .item-est {
    display: flex;
    align-items: center;
    color: $color-green;
    img {
      margin-right: 5px;

      @include respond(laptop-s) {
        width: 25px;
       }
    }
    strong {
      margin-bottom: 0;
    }

    @include respond(laptop-s) {

      span {
        margin-bottom: 0 !important;
      }
    }
  }

  .color-box {
    display: block;
    height: 20px;
    width: 20px;
    min-width: 20px;
    margin: 0 5px;
    border: 1px solid $color-checkout-darkgray;
  }

  .row-price,
  .row-quantity,
  .row-total {
    color: $color-checkout-darkgray;
    font-weight: 700;

    @include respond(laptop-s) {
      width: 33.33%;
    }
  }
  
  .row-total {
    @include respond(laptop-s) {
     text-align: right;
    }

  }

  .row-item {
    @include respond(tab-port) {
      width: calc(80%);
      
    }
  }
}

.compute {
  width: 300px;
  margin-left: auto;
  margin-top: 20px;

  @include respond(mobile-lg) {
    width: 100%;
  }

  &__item {
display: flex;
width: 100%;
font-size: 18px;
.title {
  color: #44414F;
    }

    .value {
      margin-left: auto;
    }
    &:not(:first-child) {
      margin-top: 8px;
    }
  }

  &__free {
    border-radius: 3px;
    background: #59CD3B;
    padding: 4px 12px;
    color: #fff;
    margin-left: 5px;
  }

  &__total {
    font-size: 20px;
    font-weight: 700;
  }
}