.ordered-variant {
  display: flex;

  &__info {
    display: flex;
    align-items: center;

    .hypen {
      display: inline-block;
      margin: 0 5px;
    }

    .size {
      font-weight: 600;
    }

    .text {
        margin-right: 20px;
        line-height: 90%;
    }

    .added-to-cart {
      color: $color-green;
      font-size: 12px;
    }
  }

  &__action {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: auto;
    flex-shrink: 0;


    .buy-again-added {
      color: $color-green;
      font-weight: 600;
    }

    .price {
      color: $color-primary !important;
      font-weight: 600;
      margin-right: 10px;
    }

    .bond {
      position: relative;

      @include respond(laptop-s) {
        &:hover {
          & .buy-again-quantity {
            display: flex !important;
          }
        }
      }
    }

    .buy-again-btn {
      border: 2px solid $color-primary;
      color: $color-primary !important;
      border-radius: 15px;
      padding: 0 5px;
      font-weight: 600;
      font-size: 15px;
    }
  }

  .buy-again-quantity {
    position: absolute;
    background-color: $color-white;
    width: 160px;
    border: 1px solid $color-border;
    padding: 8px;
    right: 0;
    top: 0;
    z-index: 2;
    
    .product-name {
      text-align: center;
      font-size: 14px;
    }
    
    .product-info {          
      font-size: 14px;
      display: flex;
      justify-content: center;
      padding: 3px;
      align-items: center;

      p {
        display: inline-flex;
      }
      
      .hypen {
        margin: 0 3px;
      }

      .name {
        display: inline-block;
        max-width: 90px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      .color-box {
        height: 20px;
        width: 20px;
        max-width: 20px;
        min-width: 20px;
        margin-right: 3px;
      }
    }

    .quantity-editor {
      .btn-quantity,
      .input-quantity {
        height: 30px;
      }
    }

    &__label {
      margin: auto;
      color: $color-text-secondary;
    }

    &__button {
      border-radius: 3px;
      background: $color-primary;
      color: $color-white;
      padding: 6px 8px;
      width: 100%;
      margin-top: 5px;
      font-size: 14px;
    }
  }

  .color-box {
    margin-right: 5px;
  }
}
