.halloween {
  background-color: #eb6123;
}

.navbar__main .container {
  position: relative;
}

.navbar__main .container::after {
  position: absolute;
  display: block;
  content: "";
  background-image: url("../../assets/theme/halloween/right-nav-halloween_300x.webp");
  background-size: contain;
  background-repeat: no-repeat;
  right: -180px;
  top: 10px;
  width: 150px;
  height: 150px;
}

@media (max-width: 1600px) {
  .navbar__main .container::after {
    display: none;
  }
}

.navbar__hamburger-btn span {
  background-color: #000;
}

.navbar__footer-item:hover .navbar__footer-link {
  background-color: #eb6123;
  color: #fff;
}

.navbar__logo {
  position: relative;
}

.navbar__logo::before {
  position: absolute;
  display: block;
  content: "";
  background-image: url("../../assets/theme/halloween/spider-web_500x.webp");
  background-size: contain;
  background-repeat: no-repeat;
  top: -200%;
  left: -160px;
  width: 220px;
  height: 220px;
  -webkit-transform: rotate(125deg);
          transform: rotate(125deg);
}

@media (max-width: 79em) {
  .navbar__logo::before {
    display: none;
  }
}

.navbar__logo::after {
  position: absolute;
  display: block;
  content: "";
  background-image: url("../../assets/theme/halloween/spider_100x.webp");
  background-size: contain;
  background-repeat: no-repeat;
  top: -70%;
  right: 20%;
  width: 50px;
  height: 50px;
}

@media (max-width: 37.5625em) {
  .navbar__logo::after {
    width: 35px;
    height: 35px;
    right: 25%;
  }
}

.navbar .btn--my-account {
  color: #000;
}

.navbar .btn--my-account svg {
  fill: #000;
}

.navbar .btn--track {
  background-color: #000;
}

.navbar .btn--icon svg {
  fill: #000;
}

.navbar .inp--search__button {
  background: #000;
}

.navbar__footer {
  background-color: #000;
}

.navbar .mega-menu__title {
  color: #eb6123;
}

.navbar .mega-menu__title::after {
  background: #eb6123;
}

.navbar .mega-menu__sub:hover {
  background-color: rgba(235, 97, 35, 0.08);
}

.navbar .search__auto-result li:hover a, .navbar .search__auto-result li:focus a {
  color: #eb6123 !important;
}

.navbar .search__live-header span {
  color: #eb6123;
}

.footer {
  position: relative;
  background-color: #000;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(36.2%, #03060c), to(#1c0d00));
  background: linear-gradient(180deg, #03060c 36.2%, #1c0d00 100%);
}

.footer::before {
  position: absolute;
  display: block;
  content: "";
  background-image: url("../../assets/theme/halloween/backdrop.webp");
  background-size: contain;
  background-repeat: no-repeat;
  top: -180px;
  right: 0;
  width: 100%;
  height: 267px;
  background-repeat: repeat-x;
}

@media (max-width: 62.5em) {
  .footer::before {
    height: 220px;
    top: -160px;
  }
}

@media (max-width: 48em) {
  .footer::before {
    height: 200px;
    top: -150px;
  }
}

@media (max-width: 37.5625em) {
  .footer::before {
    height: 180px;
    top: -120px;
  }
}

@media (max-width: 23.4375em) {
  .footer::before {
    top: -100px;
  }
}

.sidebar {
  background-color: #000;
}

.show-sub-list {
  background-color: #eb6123;
}
