.valentines {
  background: #890023;
}

.navbar__hamburger-btn span {
  background-color: #890023;
}

.navbar__logo {
  position: relative;
}

.navbar__logo::before {
  position: absolute;
  display: block;
  content: "";
  background-image: url("/images/theme/valentines/cupid.png");
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  width: 100px;
  height: 100px;
  top: -40px;
  left: -95px;
}

@media (max-width: 119em) {
  .navbar__logo::before {
    left: unset;
    top: -20px;
    right: 10px;
    height: 75px;
    width: 75px;
  }
}

@media (max-width: 79em) {
  .navbar__logo::before {
    right: 28px;
  }
}

@media (max-width: 62.5em) {
  .navbar__logo::before {
    right: -70px;
  }
}

@media (max-width: 48em) {
  .navbar__logo::before {
    height: 65px;
    width: 65px;
    top: -15px;
    right: -60px;
  }
}

@media (max-width: 37.5625em) {
  .navbar__logo::before {
    height: 50px;
    width: 50px;
    right: -48px;
  }
}

@media (max-width: 31.25em) {
  .navbar__logo::before {
    height: 45px;
    width: 45px;
    right: -40px;
  }
}

@media (max-width: 374px) {
  .navbar__logo::before {
    display: none;
  }
}

.navbar__logo::after {
  position: absolute;
  display: block;
  content: "";
  background-image: url("/images/theme/valentines/heart-fly.png");
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  top: -46px;
  right: 8px;
  width: 88px;
  height: 88px;
}

@media (max-width: 119em) {
  .navbar__logo::after {
    right: -23px;
    top: -23px;
    height: 45px;
    width: 45px;
  }
}

@media (max-width: 79em) {
  .navbar__logo::after {
    right: -15px;
    height: 55px;
    width: 55px;
  }
}

@media (max-width: 62.5em) {
  .navbar__logo::after {
    right: -120px;
  }
}

@media (max-width: 48em) {
  .navbar__logo::after {
    right: -100px;
    height: 50px;
    width: 50px;
  }
}

@media (max-width: 37.5625em) {
  .navbar__logo::after {
    right: -80px;
    top: -20px;
    height: 40px;
    width: 40px;
  }
}

@media (max-width: 31.25em) {
  .navbar__logo::after {
    right: -63px;
    top: -15px;
    height: 30px;
    width: 30px;
  }
}

@media (max-width: 374px) {
  .navbar__logo::after {
    display: none;
  }
}

.navbar .btn--my-account {
  color: #890023;
}

.navbar .btn--my-account svg {
  fill: #890023;
}

.navbar .btn--icon svg {
  fill: #890023;
}

.navbar .btn--track__icon {
  fill: #890023;
}

.navbar .btn--track__label {
  color: #890023 !important;
}

.navbar .inp--search__button {
  background: #890023;
}

.navbar__footer {
  background: #890023;
}

.navbar .mega-menu__title {
  color: #890023;
}

.navbar .mega-menu__title::after {
  background: #890023;
}

.navbar .mega-menu__sub:hover {
  background-color: rgba(137, 0, 35, 0.08);
}

.navbar .navbar__footer-sub-link:hover {
  background-color: rgba(137, 0, 35, 0.08);
}

.navbar .search__auto-result li:hover a, .navbar .search__auto-result li:focus a {
  color: #890023 !important;
}

.navbar .search__live-header span {
  color: #890023;
}

.navbar__footer-item:hover > .navbar__footer-header {
  background-color: #890023 !important;
  color: #fff !important;
}

.footer {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(#4B0013), to(#9B1235));
  background: linear-gradient(180deg, #4B0013 0%, #9B1235 100%);
  white-space: nowrap;
  margin-top: 100px;
  width: 100vw;
  overflow: hidden;
}

.footer::before {
  display: block;
  content: "";
  position: absolute;
  width: 150%;
  height: 150%;
  z-index: 0;
  top: -10%;
  left: -10%;
  background: url("/images/theme/valentines/hearts-background.png") 0 0 repeat;
}

@media (max-width: 48em) {
  .footer {
    margin-top: 40px;
  }
}

.sidebar {
  background-color: #890023;
}

@media (max-width: 62.5em) {
  .show-sub-list .navbar__footer-header {
    background-color: #890023;
  }
}

body {
  overflow-x: hidden !important;
}
/*# sourceMappingURL=valentines.theme.css.map */