.card--primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card--primary__image {
  position: relative;
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.card--primary__image img {
  width: 100%;
}

.card--primary__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
}

.card--primary__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 0;
}

.card--primary__brand {
  height: 25px;
  margin-right: 8px;
}

.card--primary__brand img {
  height: 100%;
}

.card--primary__title {
  font-size: 14px;
  color: #000;
}

.card--primary__available {
  width: 32%;
  font-size: 14px;
}

.card--primary__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.card--primary__price .start-at {
  font-size: 13px;
  margin-right: 5px;
}

.card--primary__price .price {
  font-size: 25px;
  font-weight: 700;
  color: #d83939;
}

.card--form {
  color: #131313;
  background: #fff;
  border-radius: 5px;
  border: 1px solid rgba(19, 19, 19, 0.2);
}

.card--form__title {
  font-size: 27px;
}

@media (max-width: 48em) {
  .card--form__title {
    font-size: 24px;
  }
}

@media (max-width: 37.5625em) {
  .card--form__title {
    font-size: 20px;
  }
}

.card--form__subtitle {
  color: #5a5a5a;
  margin-top: 5px;
}

@media (max-width: 48em) {
  .card--form__subtitle {
    font-size: 14px;
  }
}

.card--form__body, .card--form__header, .card--form__actions {
  padding: 19px 30px;
}

@media (max-width: 48em) {
  .card--form__body, .card--form__header, .card--form__actions {
    padding: 15px 20px;
  }
}

@media (max-width: 37.5625em) {
  .card--form__body, .card--form__header, .card--form__actions {
    padding: 12px 12px;
  }
}

.card--form__header {
  border-bottom: 1px solid rgba(19, 19, 19, 0.05);
}

.card--form__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card--form__loading {
  height: 50px;
  margin-left: auto;
}

.card--form__loading img {
  height: 100%;
}

.card--new-form {
  padding: 45px 25px;
  -webkit-box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.05), -10px -10px 30px rgba(0, 0, 0, 0.05);
          box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.05), -10px -10px 30px rgba(0, 0, 0, 0.05);
}

@media (max-width: 48em) {
  .card--new-form {
    padding: 40px 20px;
  }
}

@media (max-width: 37.5625em) {
  .card--new-form {
    padding: 26px 16px;
  }
}

.card--new-form__title {
  font-size: 26px;
  color: #0a2972;
}

@media (max-width: 48em) {
  .card--new-form__title {
    font-size: 24px;
  }
}

@media (max-width: 37.5625em) {
  .card--new-form__title {
    font-size: 23px;
  }
}

.card--new-form__description {
  font-size: 16px;
  color: #707070;
}

@media (max-width: 48em) {
  .card--new-form__description {
    font-size: 15px;
  }
}

@media (max-width: 37.5625em) {
  .card--new-form__description {
    font-size: 14px;
  }
}

.card--new-form__footer-text {
  color: #707070;
  font-size: 18px;
}

@media (max-width: 48em) {
  .card--new-form__footer-text {
    font-size: 16px;
  }
}

.card--new-form__footer-text a {
  font-weight: 700;
  color: #0a2972;
}

.forgot-password {
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

@media (max-width: 37.5625em) {
  .forgot-password {
    min-height: 400px;
  }
}

.forgot-password__form {
  width: 620px;
}

.inp--new-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #636363;
  padding: 15px 20px;
  background: #F6F5F5;
  font-size: 19px;
  width: 100%;
  border-bottom: 2px solid #c4c4c4;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

@media (max-width: 48em) {
  .inp--new-form {
    padding: 14px 18px;
    font-size: 16px;
  }
}

.inp--new-form__hint {
  font-size: 14px;
  color: grey;
}

.login {
  height: 750px;
  background-image: url("https://300.bulkapparel.com/images/login/login-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover 105%;
}

@media (max-width: 48em) {
  .login {
    background: none;
    height: auto;
    padding: 40px 0;
  }
}

.login .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.login__form {
  width: 520px;
  background: #fff;
}

@media (max-width: 48em) {
  .login__form {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
}

.login .card--new-form__header {
  text-align: center;
}

.footer {
  margin-top: 0 !important;
}
/*# sourceMappingURL=card.css.map */