svg {
  display: block;
}

.help-search-jumbotron {
  padding: 60px 0;
  background-color: #F5F5F5;
}

@media (max-width: 37.5625em) {
  .help-search-jumbotron {
    padding: 50px 0;
  }
}

.help-search-jumbotron .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.help-search-jumbotron .heading--primary {
  color: #0a2972;
  margin-bottom: 20px;
}

@media (max-width: 37.5625em) {
  .help-search-jumbotron .heading--primary {
    margin-bottom: 15px;
    font-size: 24px;
  }
}

@media (max-width: 23.4375em) {
  .help-search-jumbotron .heading--primary {
    font-size: 20px;
  }
}

.help-search-bar {
  height: 80px;
  width: 800px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 62.5em) {
  .help-search-bar {
    width: 90%;
  }
}

@media (max-width: 37.5625em) {
  .help-search-bar {
    width: 95%;
    height: 60px;
  }
}

@media (max-width: 23.4375em) {
  .help-search-bar {
    height: 48px;
  }
}

.help-search-bar__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #0a2972;
}

@media (max-width: 37.5625em) {
  .help-search-bar__button {
    width: 90px;
  }
}

@media (max-width: 23.4375em) {
  .help-search-bar__button {
    width: 75px;
  }
}

.help-search-bar__button svg {
  height: 40px;
  width: 40px;
  fill: #fff;
}

@media (max-width: 37.5625em) {
  .help-search-bar__button svg {
    height: 30px;
    width: 30px;
  }
}

@media (max-width: 23.4375em) {
  .help-search-bar__button svg {
    height: 25px;
    width: 25px;
  }
}

.help-search-bar__input {
  height: 100%;
  border: none;
  padding: 20px;
  font-size: 18px;
  width: 100%;
}

@media (max-width: 37.5625em) {
  .help-search-bar__input {
    padding: 15px;
    font-size: 16px;
  }
}

@media (max-width: 23.4375em) {
  .help-search-bar__input {
    padding: 12px;
  }
}

.help-search-list {
  width: 100%;
  margin-top: 20px;
}

@media (max-width: 48em) {
  .help-search-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.help-search-list > *:not(:last-child) {
  margin-right: 20px;
}

@media (max-width: 48em) {
  .help-search-list > *:not(:last-child) {
    margin-right: 0;
  }
}

.btn--help-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 25px;
  height: 150px;
  width: 100%;
  border: 3px solid #0a2972;
}

@media (max-width: 56.25em) {
  .btn--help-center {
    height: 120px;
    padding: 20px;
  }
}

@media (max-width: 37.5625em) {
  .btn--help-center {
    padding: 15px;
    border-width: 2px;
  }
}

.btn--help-center svg {
  height: 60px;
  width: 60px;
  fill: #0a2972;
}

@media (max-width: 56.25em) {
  .btn--help-center svg {
    height: 50px;
    width: 50px;
    min-height: 50px;
  }
}

@media (max-width: 37.5625em) {
  .btn--help-center svg {
    height: 40px;
    width: 40px;
    min-height: 40px;
  }
}

.btn--help-center span {
  margin-top: 10px;
  font-weight: 700;
  color: #0a2972;
}

@media (max-width: 56.25em) {
  .btn--help-center span {
    font-size: 16px;
  }
}

@media (max-width: 23.4375em) {
  .btn--help-center span {
    font-size: 14px;
  }
}

.btn--help-center:hover {
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  background: #0a2972;
}

.btn--help-center:hover svg {
  fill: #fff;
}

.btn--help-center:hover span {
  color: #fff;
}

.accordion {
  border-bottom: 0.5px solid #DBDBDB;
}

.accordion__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 15px;
  padding-right: 15px;
  position: relative;
  cursor: pointer;
}

@media (max-width: 37.5625em) {
  .accordion__header {
    font-size: 15px;
    padding-bottom: 10px;
  }
}

@media (max-width: 23.4375em) {
  .accordion__header {
    font-size: 14px;
    padding-bottom: 8px;
  }
}

.accordion__plus {
  margin-left: auto;
}

.accordion__plus::after, .accordion__plus::before {
  position: absolute;
  content: "";
  display: block;
  height: 20px;
  width: 3px;
  background: #B7B7B7;
  -webkit-transition: all ease 300ms;
  transition: all ease 300ms;
}

@media (max-width: 37.5625em) {
  .accordion__plus::after, .accordion__plus::before {
    height: 15px;
    width: 2.5px;
  }
}

.accordion__plus::before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.accordion__title {
  vertical-align: middle;
  color: #0a2972;
  padding: 0;
  margin: 0;
  margin-right: 30px;
}

.accordion__title::before {
  display: inline;
  margin-right: 25px;
  content: "\2022";
  font-size: 30px;
  color: #484848;
  margin-bottom: -10px;
  height: 10px !important;
  position: relative;
  bottom: -5px;
}

@media (max-width: 37.5625em) {
  .accordion__title::before {
    margin-right: 10px;
    font-size: 24px;
    margin-right: 5px;
  }
}

.accordion__text {
  display: none;
  color: #484848;
  padding: 12px 10px 20px 35px;
  line-height: 1.4;
}

@media (max-width: 37.5625em) {
  .accordion__text {
    padding: 8px 5px 15px 0;
    font-size: 15px;
  }
}

.accordion__text ul {
  list-style-type: disc;
  list-style-position: inside;
}

.accordion__text a {
  color: #0a2972;
  font-weight: 600;
  text-decoration: underline;
}

@media (max-width: 37.5625em) {
  .accordion__text img {
    width: 100%;
  }
}

.accordion__text > *:not(:last-child) {
  display: block;
  margin-bottom: 20px;
}

.accordion-show .accordion__text {
  display: block;
}

.accordion-show .accordion__plus::after {
  opacity: 0;
}

.help-section__header {
  width: 100%;
  text-align: center;
}

@media (max-width: 37.5625em) {
  .help-section__header {
    font-size: 22px;
  }
}

.help-section__intro {
  display: block;
  text-align: center;
  width: 70%;
  line-height: 1.6;
  margin: 0 auto;
}

@media (max-width: 48em) {
  .help-section__intro {
    width: 90%;
  }
}

@media (max-width: 37.5625em) {
  .help-section__intro {
    width: 100%;
  }
}

@media (max-width: 79em) {
  .help-section__warehouse {
    max-width: 600px;
  }
}

@media (max-width: 48em) {
  .help-section__warehouse {
    width: 100%;
  }
}

@media (max-width: 37.5625em) {
  .help-section .btn--help-link {
    font-size: 14px;
    padding: 10px 25px;
  }
}

.help-section .heading--primary {
  color: #0a2972;
}

.help-section .paragraph--primary {
  color: #484848;
}

.help-section .paragraph--primary a {
  color: #0a2972;
}

.alert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 10px;
  font-size: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.alert--error {
  background: #FFF5F5;
  color: #CC433B;
}

.alert--success {
  background: #EBFFF1;
  color: #00A52E;
}

.alert--info {
  background: #EBFDFF;
  color: #0091A5;
}

.alert--warning {
  background: #FBF2D1;
  color: #6C5500;
}

.contact-list {
  margin-top: 35px;
}

.contact-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-list__item:not(:last-child) {
  margin-bottom: 35px;
}

.contact-list__icon {
  height: 50px;
  width: 50px;
  min-width: 50px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(10, 41, 114, 0.1);
  margin-right: 12px;
}

@media (max-width: 37.5625em) {
  .contact-list__icon {
    height: 45px;
    width: 45px;
    min-width: 45px;
  }
}

@media (max-width: 20em) {
  .contact-list__icon {
    height: 40px;
    width: 40px;
    min-width: 40px;
  }
}

.contact-list__icon svg {
  fill: #0a2972;
  height: 22px;
}

@media (max-width: 37.5625em) {
  .contact-list__icon svg {
    height: 18px;
  }
}

@media (max-width: 20em) {
  .contact-list__icon svg {
    height: 16px;
  }
}

.contact-list__body p {
  color: #44414F;
}

.contact-list__body ul {
  list-style: disc;
  list-style-type: disc;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 10px;
}

.contact-list__body li {
  margin-left: 20px;
  font-weight: 700;
  padding: 3px 5px 3px 0;
}

.contact-list__body img {
  width: 100%;
  margin-top: 15px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  max-width: 400px;
}

.contact-list__title {
  font-size: 20px;
  margin-bottom: 8px;
}

@media (max-width: 37.5625em) {
  .contact-list__title {
    font-size: 18px;
  }
}

@media (max-width: 20em) {
  .contact-list__title {
    font-size: 16px;
    margin-bottom: 6px;
  }
}

.contact-form__chat-now {
  display: block;
}

@media (max-width: 37.5625em) {
  .contact-form__chat-now {
    height: 60px;
  }
}

.contact-form__chat-now img {
  height: 100%;
}

.contact-form__or {
  font-weight: 700;
}

.contact-form .heading--primary {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-form .heading--primary .icon {
  margin-right: 5px;
}

.contact-form .heading--primary svg {
  fill: #0a2972;
}

@media (max-width: 37.5625em) {
  .contact-form .heading--primary svg {
    height: 25px;
  }
}

@media (max-width: 37.5625em) {
  .contact-form .heading--primary {
    font-size: 23px;
  }
}

.contact-form .inp--secondary {
  padding: 12px 12px;
}

.contact-form .btn--secondary {
  background-color: #0a2972;
}

.contact-form .card--form__body, .contact-form .card--form__actions {
  padding: 15px 22px;
}

@media (max-width: 37.5625em) {
  .contact-form .card--form__body, .contact-form .card--form__actions {
    padding: 12px 15px;
  }
}

@media (max-width: 37.5625em) {
  .contact-get-touch .heading--primary {
    font-size: 20px;
  }
}

.help-search-bar {
  position: relative;
}

.search-suggestion {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}
/*# sourceMappingURL=helpcenter-page.css.map */