.independence {
  background: #0040a7;
}

.navbar__hamburger-btn span {
  background-color: #002868;
}

.navbar__logo {
  position: relative;
}

.navbar__logo::before {
  position: absolute;
  display: block;
  content: "";
  background-image: url("../../images/theme/independence-day/desktop/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  width: 140px;
  height: 140px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -140px;
}

@media (max-width: 1500px) {
  .navbar__logo::before {
    width: 100px;
    height: 100px;
    left: -100px;
  }
}

@media (max-width: 1400px) {
  .navbar__logo::before {
    width: 60px;
    height: 60px;
    left: unset;
    top: 80%;
    right: -60px;
  }
}

@media (max-width: 1000px) {
  .navbar__logo::before {
    position: absolute;
    display: block;
    content: "";
    background-image: url("../../images/theme/independence-day/mobile/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
    width: 100px;
    height: 100px;
    bottom: unset;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: unset;
    right: -110px;
  }
}

@media (max-width: 1000px) and (max-width: 768px) {
  .navbar__logo::before {
    height: 80px;
    width: 80px;
    right: -85px;
  }
}

@media (max-width: 1000px) and (max-width: 600px) {
  .navbar__logo::before {
    height: 70px;
    width: 70px;
    right: -75px;
  }
}

@media (max-width: 1000px) and (max-width: 500px) {
  .navbar__logo::before {
    height: 60px;
    width: 60px;
    right: -65px;
  }
}

@media (max-width: 1000px) and (max-width: 375px) {
  .navbar__logo::before {
    height: 55px;
    width: 55px;
    right: -60px;
  }
}

@media (max-width: 1000px) and (max-width: 364px) {
  .navbar__logo::before {
    display: none;
  }
}

.navbar .btn--my-account {
  color: #002868;
}

.navbar .btn--my-account svg {
  fill: #002868;
}

.navbar .btn--track__icon {
  fill: #002868;
}

.navbar .btn--track__label {
  color: #002868 !important;
}

.navbar .btn--icon svg {
  fill: #002868;
}

.navbar .inp--search__button {
  background: #002868;
}

.navbar__footer {
  background: #002868;
}

.navbar .mega-menu__title {
  color: #0040a7;
}

.navbar .mega-menu__title::after {
  background: #0040a7;
}

.navbar .mega-menu__sub:hover {
  background-color: rgba(0, 64, 167, 0.08);
}

.navbar .navbar__footer-sub-link:hover {
  background-color: rgba(0, 64, 167, 0.08);
}

.navbar .search__auto-result li:hover a, .navbar .search__auto-result li:focus a {
  color: #0040a7 !important;
}

.navbar .search__live-header span {
  color: #0040a7;
}

.navbar__footer-item:hover > .navbar__footer-header {
  background-color: #0040a7 !important;
  color: #fff !important;
}

.footer {
  position: relative;
  background-color: #002868;
  background: #680016;
  white-space: nowrap;
  margin-top: 40px;
  padding-bottom: 100px;
}

@media (max-width: 768px) {
  .footer {
    padding-bottom: 100px;
    margin-top: 20px;
  }
}

@media (max-width: 1264px) {
  .footer {
    padding-top: 150px !important;
  }
}

@media (max-width: 768px) {
  .footer {
    padding-top: 100px !important;
  }
}

.footer::after {
  position: absolute;
  display: block;
  content: "";
  background-image: url("../../images/theme/independence-day/desktop/usa-star.png");
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  height: 250px;
  width: 250px;
  top: 40%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 60px;
}

@media (max-width: 1600px) {
  .footer::after {
    width: 200px;
    height: 200px;
    right: 40px;
  }
}

@media (max-width: 1450px) {
  .footer::after {
    width: 150px;
    height: 150px;
    right: 20px;
  }
}

@media (max-width: 1264px) {
  .footer::after {
    height: 120px;
    width: 120px;
    top: 80px;
    right: 20px;
  }
}

@media (max-width: 1000px) {
  .footer::after {
    height: 140px;
    width: 140px;
    top: 90px;
  }
}

@media (max-width: 768px) {
  .footer::after {
    height: 120px;
    width: 120px;
    top: 70px;
  }
}

@media (max-width: 600px) {
  .footer::after {
    height: 80px;
    width: 80px;
    top: 60px;
  }
}

.footer::before {
  position: absolute;
  display: block;
  content: "";
  background-image: url("../../images/theme/independence-day/desktop/left-size-desktop-exact.png");
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  height: 450px;
  width: 450px;
  top: 0;
  left: 0;
}

@media (max-width: 1264px) {
  .footer::before {
    height: 320px;
    width: 320px;
  }
}

@media (max-width: 1000px) {
  .footer::before {
    height: 280px;
    width: 280px;
  }
}

@media (max-width: 768px) {
  .footer::before {
    height: 250px;
    width: 250px;
  }
}

@media (max-width: 600px) {
  .footer::before {
    height: 200px;
    width: 200px;
  }
}

.sidebar {
  background-color: #002868;
}

@media (max-width: 1000px) {
  .show-sub-list .navbar__footer-header {
    background-color: #0040a7;
  }
}

body {
  overflow-x: hidden !important;
}
/*# sourceMappingURL=independence-day.theme.css.map */