.input-emotion-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-emotion-select .input-group__label {
  font-size: 18px !important;
  text-align: center;
  width: 60%;
  color: 282828;
  margin: 0 auto;
  margin-bottom: 8px;
}

@media (max-width: 600px) {
  .input-emotion-select .input-group__label {
    font-size: 16px !important;
    width: 80%;
  }
}

@media (max-width: 375px) {
  .input-emotion-select .input-group__label {
    font-size: 15px !important;
  }
}

.emotion-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.emotion-select__btn {
  background: none;
  -webkit-transition: all 300 ease;
  transition: all 300 ease;
}

.emotion-select__btn:not(:last-child) {
  margin-right: 10px;
}

@media (max-width: 600px) {
  .emotion-select__btn:not(:last-child) {
    margin-right: 8px;
  }
}

@media (max-width: 500px) {
  .emotion-select__btn:not(:last-child) {
    margin-right: 5px;
  }
}

.emotion-select__btn svg {
  width: 75px;
}

@media (max-width: 768px) {
  .emotion-select__btn svg {
    width: 65px;
  }
}

@media (max-width: 600px) {
  .emotion-select__btn svg {
    width: 60px;
  }
}

@media (max-width: 500px) {
  .emotion-select__btn svg {
    width: 50px;
  }
}

@media (max-width: 375px) {
  .emotion-select__btn svg {
    width: 48px;
  }
}

.emotion-select__btn .outline,
.emotion-select__btn .border,
.emotion-select__btn .smile,
.emotion-select__btn .circle {
  -webkit-transition: all 300 ease;
  transition: all 300 ease;
}

.emotion-select__btn p {
  display: none;
}

.emotion-select__btn:hover .neutral .outline,
.emotion-select__btn:hover .happy .outline,
.emotion-select__btn:hover .love .outline,
.emotion-select__btn:hover .angry .outline,
.emotion-select__btn:hover .sad .outline {
  fill: #000;
}

.emotion-select__btn:hover .neutral .circle,
.emotion-select__btn:hover .happy .circle,
.emotion-select__btn:hover .love .circle {
  fill: #f5b108;
}

.emotion-select__btn:hover .angry .circle {
  fill: #f73908;
}

.emotion-select__btn:hover .sad .circle {
  fill: #f66108;
}

.emotion-select__btn:hover .love .outline {
  fill: #f71108;
  stroke: #f71108 !important;
}

.emotion-select__btn:hover .love .border {
  fill: #000;
}

.emotion-select__btn:hover .love .smile {
  fill: #000 !important;
}

.emotion-select .selected {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.emotion-select .selected .neutral .outline,
.emotion-select .selected .happy .outline,
.emotion-select .selected .love .outline,
.emotion-select .selected .angry .outline,
.emotion-select .selected .sad .outline {
  fill: #000;
}

.emotion-select .selected .neutral .circle,
.emotion-select .selected .happy .circle,
.emotion-select .selected .love .circle {
  fill: #f5b108;
}

.emotion-select .selected .angry .circle {
  fill: #f73908;
}

.emotion-select .selected .sad .circle {
  fill: #f66108;
}

.emotion-select .selected .love .outline {
  fill: #f71108;
  stroke: #f71108 !important;
}

.emotion-select .selected .love .border {
  fill: #000;
}

.emotion-select .selected .love .smile {
  fill: #000 !important;
}

.backdrop-new {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  height: auto;
  width: 100%;
  height: 100%;
  z-index: 999;
  overflow-x: hidden;
  overflow-y: scroll;
}

.btn--continue {
  border: 1px solid #00234f;
}

.btn--continue, .btn--view-cart {
  padding: 8px;
  font-size: 18px;
}

@media (max-width: 600px) {
  .btn--continue, .btn--view-cart {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .btn--continue, .btn--view-cart {
    padding: 6px;
    font-size: 14px;
  }
}

.btn--view-cart {
  background-color: #00234f;
  color: #fff;
}

.separator {
  display: block;
  height: 0.5px;
  background-color: #e2e2e2;
  width: 100%;
  margin: 10px 0;
}

.modal__logo {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 600px) {
  .modal__logo img {
    height: 36px;
  }
}

@media (max-width: 375px) {
  .modal__logo img {
    height: 32px;
  }
}

.modal__content {
  height: 100%;
  overflow-y: auto;
  max-width: 550px;
  margin: 0 auto;
}

.modal__exit {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 22px;
  color: #0a2972;
}

.modal__heading {
  color: #0a2972;
  font-size: 26px;
}

@media (max-width: 600px) {
  .modal__heading {
    font-size: 22px;
  }
}

@media (max-width: 375px) {
  .modal__heading {
    font-size: 20px;
  }
}

.modal__body {
  color: #44414f;
}

.modal--feedback {
  position: relative;
  width: 550px;
  margin: 40px auto;
  background: #fff;
  padding: 25px;
}

.modal--feedback .rate-it {
  width: auto;
  height: 38px !important;
  font-size: 35px !important;
}

.modal--feedback .rate-select-layer {
  height: 38px !important;
}

@media (max-width: 768px) {
  .modal--feedback {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .modal--feedback {
    padding: 25px 15px;
  }
}

@media (max-width: 375px) {
  .modal--feedback {
    padding: 20px 12px;
    margin: 20px auto;
  }
}

@media (max-width: 320px) {
  .modal--feedback {
    width: 95%;
  }
}

@media (max-width: 375px) {
  .modal--feedback .jq-star {
    height: 28px !important;
    width: 28px !important;
  }
}

.modal--feedback .modal__header {
  text-align: center;
}

.modal--feedback .modal__text {
  color: #ababab;
  font-size: 17px;
}

@media (max-width: 600px) {
  .modal--feedback .modal__text {
    font-size: 14px;
  }
}

.modal--feedback .input-group textarea {
  min-height: 100px;
  max-height: 100px;
  resize: none;
}

@media (max-width: 375px) {
  .modal--feedback .input-group textarea {
    min-height: 70px;
  }
}

.modal--feedback .input-group select {
  padding: 10px;
}

.modal--feedback .input-group select:invalid {
  color: #44414f;
}

.modal--feedback .input-group label {
  font-weight: 400;
  font-size: 16px;
  color: #44414f;
}

@media (max-width: 600px) {
  .modal--feedback .input-group label {
    font-size: 14px;
  }
}

@media (max-width: 375px) {
  .modal--feedback .input-group label {
    font-size: 13px;
  }
}

.modal--feedback .input-group .inp--secondary {
  padding: 13px;
  font-size: 16px;
}

@media (max-width: 600px) {
  .modal--feedback .input-group .inp--secondary {
    font-size: 14px;
    padding: 10px;
  }
}

@media (max-width: 375px) {
  .modal--feedback .input-group .inp--secondary {
    font-size: 13px;
    padding: 8px;
  }
}

.modal--feedback .input-group .inp--secondary::-webkit-input-placeholder {
  font-size: 16px;
}

.modal--feedback .input-group .inp--secondary:-ms-input-placeholder {
  font-size: 16px;
}

.modal--feedback .input-group .inp--secondary::-ms-input-placeholder {
  font-size: 16px;
}

.modal--feedback .input-group .inp--secondary::placeholder {
  font-size: 16px;
}

@media (max-width: 600px) {
  .modal--feedback .input-group .inp--secondary::-webkit-input-placeholder {
    font-size: 14px;
  }
  .modal--feedback .input-group .inp--secondary:-ms-input-placeholder {
    font-size: 14px;
  }
  .modal--feedback .input-group .inp--secondary::-ms-input-placeholder {
    font-size: 14px;
  }
  .modal--feedback .input-group .inp--secondary::placeholder {
    font-size: 14px;
  }
}

.modal--feedback .input-group p {
  font-size: 14px;
  margin-bottom: 10px;
  color: #8d8d8d;
}

@media (max-width: 600px) {
  .modal--feedback .input-group p {
    font-size: 12px;
  }
}

.modal--feedback__icon svg {
  height: 107px;
  width: 104px;
  fill: #ffc700;
}

@media (max-width: 600px) {
  .modal--feedback__icon svg {
    height: 90px;
    width: 85px;
  }
}

.modal--feedback__footer p {
  text-align: center;
  font-size: 15px;
  color: #44414f;
}

@media (max-width: 600px) {
  .modal--feedback__footer p {
    font-size: 13px;
  }
}

.modal--feedback__footer a {
  color: #0a2972;
  font-weight: 700;
}

.modal--added-cart {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  width: 600px;
  padding: 0 !important;
}

@media (max-width: 768px) {
  .modal--added-cart {
    max-height: 90%;
    overflow: auto;
    width: 90%;
  }
}

.modal--added-cart .heading {
  margin: 0 auto;
  color: #00234f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  font-size: 26px;
}

@media (max-width: 600px) {
  .modal--added-cart .heading {
    font-size: 23px;
  }
}

@media (max-width: 375px) {
  .modal--added-cart .heading {
    font-size: 20px;
  }
}

.modal--added-cart .heading svg {
  fill: #00234f;
  height: 42px;
  width: 42px;
  margin-right: 10px;
  display: inline-block;
}

@media (max-width: 600px) {
  .modal--added-cart .heading svg {
    height: 36px;
    width: 36px;
    margin-right: 6px;
  }
}

@media (max-width: 375px) {
  .modal--added-cart .heading svg {
    height: 34px;
    width: 34px;
  }
}

.modal--added-cart__exit {
  font-size: 28px;
  font-weight: 800;
  position: absolute;
  right: 20px;
  top: 15px;
}

@media (max-width: 600px) {
  .modal--added-cart__exit {
    font-size: 22px;
  }
}

@media (max-width: 375px) {
  .modal--added-cart__exit {
    right: 10px;
    top: 5px;
  }
}

.modal--added-cart__product-title {
  font-size: 20px;
  color: #44414f;
  margin-bottom: 15px;
}

@media (max-width: 600px) {
  .modal--added-cart__product-title {
    font-size: 18px;
  }
}

@media (max-width: 375px) {
  .modal--added-cart__product-title {
    font-size: 16px;
    margin-bottom: 8px;
  }
}

.modal--added-cart__action {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 10px;
}

@media (max-width: 600px) {
  .modal--added-cart__action {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px;
  }
}

.modal--added-cart__action .btn {
  width: 50%;
}

@media (max-width: 600px) {
  .modal--added-cart__action .btn {
    width: 100%;
  }
}

.modal--added-cart__action > *:first-child {
  margin-right: 10px;
}

@media (max-width: 600px) {
  .modal--added-cart__action > *:first-child {
    margin-right: 0;
    margin-bottom: 5px;
  }
}

.modal--added-cart__list {
  width: 100%;
  font-size: 18px;
  text-align: center;
  max-height: 300px;
  overflow: auto;
}

@media (max-width: 600px) {
  .modal--added-cart__list {
    min-height: 200px;
    max-height: 200px;
  }
}

@media (max-width: 375px) {
  .modal--added-cart__list {
    min-height: 150px;
    max-height: 150px;
  }
}

@media (max-width: 320px) {
  .modal--added-cart__list {
    min-height: 100px;
    max-height: 100px;
  }
}

.modal--added-cart__product-title {
  margin-top: 15px;
  width: 100%;
  text-align: center;
}

@media (max-width: 600px) {
  .modal--added-cart__product-title {
    margin-bottom: 10px;
  }
}

@media (max-width: 375px) {
  .modal--added-cart__product-title {
    margin-bottom: 8px;
  }
}

.modal--added-cart__item {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px;
}

.modal--added-cart__item:not(:last-child) {
  padding-bottom: 10px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.08);
}

.modal--added-cart__item-photo {
  height: 100px;
  margin-right: 10px;
}

@media (max-width: 600px) {
  .modal--added-cart__item-photo {
    height: 80px;
  }
}

@media (max-width: 375px) {
  .modal--added-cart__item-photo {
    height: 65px;
  }
}

.modal--added-cart__item-photo img {
  height: 100%;
}

.modal--added-cart__item-color {
  margin-right: auto;
  text-transform: uppercase;
}

.modal--added-cart__item-color .color {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
}

@media (max-width: 600px) {
  .modal--added-cart__item-color .color {
    font-size: 14px;
  }
}

.modal--added-cart__item-color .color .box {
  display: inline-block;
  height: 25px;
  width: 25px;
  min-width: 25px;
  border: 1px solid #000;
  margin-right: 8px;
}

@media (max-width: 600px) {
  .modal--added-cart__item-color .color .box {
    height: 20px;
    width: 20px;
    min-width: 20px;
  }
}

@media (max-width: 375px) {
  .modal--added-cart__item-color .color .box {
    height: 18px;
    width: 18px;
    min-width: 18px;
    margin-right: 4px;
  }
}

.modal--added-cart__item-table {
  text-transform: uppercase;
}

.modal--added-cart__item-table th {
  font-size: 14px;
  color: #707070;
  font-weight: 400;
}

.modal--added-cart__item-table th,
.modal--added-cart__item-table td {
  padding: 2px 25px 2px 15px;
}

@media (max-width: 600px) {
  .modal--added-cart__item-table th,
  .modal--added-cart__item-table td {
    padding: 2px 15px 2px 5px;
  }
}

@media (max-width: 375px) {
  .modal--added-cart__item-table th,
  .modal--added-cart__item-table td {
    padding: 2px 10px 2px 0;
  }
}

@media (max-width: 320px) {
  .modal--added-cart__item-table th,
  .modal--added-cart__item-table td {
    padding: 2px 4px 2px 0;
  }
}

.modal--added-cart__item-table td {
  font-size: 16px;
  color: #000;
}

.modal--added-cart__cards {
  width: 100%;
  padding: 0 10px 15px 10px;
}

@media (max-width: 600px) {
  .modal--added-cart__cards {
    padding: 0 10px 15px 10px;
  }
}

.modal--added-cart__cards .product-holder {
  width: 25% !important;
}

@media (max-width: 600px) {
  .modal--added-cart__cards .product-holder {
    width: 33.33333% !important;
  }
  .modal--added-cart__cards .product-holder:last-child {
    display: none;
  }
  .modal--added-cart__cards .product-holder .product-price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: 3px;
  }
  .modal--added-cart__cards .product-holder .starting_at {
    font-size: 10px !important;
  }
  .modal--added-cart__cards .product-holder .product-price h3 {
    font-size: 15px;
  }
  .modal--added-cart__cards .product-holder .product-info {
    padding: 0px 5px;
  }
  .modal--added-cart__cards .product-holder .product-name {
    font-size: 12px;
  }
}

@media (max-width: 375px) {
  .modal--added-cart__cards .product-holder .cost-row {
    padding: 5px 0;
  }
}

@media (max-width: 320px) {
  .modal--added-cart__cards .product-holder .starting_at {
    display: none;
  }
}

.modal--added-cart__cards p {
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  .modal--added-cart__cards p {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .modal--added-cart__cards p {
    font-size: 14px;
  }
}

.modal--coupon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
  padding: 20px;
  width: 400px;
  position: relative;
  text-align: center;
}

@media (max-width: 600px) {
  .modal--coupon {
    padding: 15px;
    width: 80%;
  }
}

@media (max-width: 375px) {
  .modal--coupon {
    width: 90%;
  }
}

.modal--coupon .heading {
  margin: 0 auto;
  color: #00234f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 26px;
}

@media (max-width: 600px) {
  .modal--coupon .heading {
    font-size: 23px;
  }
}

@media (max-width: 375px) {
  .modal--coupon .heading {
    font-size: 20px;
  }
}

.modal--coupon .heading svg {
  fill: #00234f;
  height: 42px;
  width: 42px;
  margin-right: 10px;
  display: inline-block;
}

@media (max-width: 600px) {
  .modal--coupon .heading svg {
    height: 36px;
    width: 36px;
    margin-right: 6px;
  }
}

@media (max-width: 375px) {
  .modal--coupon .heading svg {
    height: 34px;
    width: 34px;
  }
}

.modal--coupon__exit {
  font-size: 20px;
  font-weight: 800;
  position: absolute;
  right: 15px;
  top: 10px;
}

@media (max-width: 600px) {
  .modal--coupon__exit {
    font-size: 18px;
  }
}

@media (max-width: 375px) {
  .modal--coupon__exit {
    right: 10px;
    top: 5px;
  }
}

.modal--coupon__description {
  margin-top: 15px;
  font-size: 18px;
}

.modal--dashboard {
  position: relative;
  width: 600px;
  background-color: #fff;
  padding: 20px;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .modal--dashboard {
    width: 90%;
  }
}

.show-modal {
  display: block !important;
}

.btn--float-feedback {
  background: #44414f;
  color: #fff;
  padding: 10px 20px;
  position: fixed;
  right: -35px;
  top: 60%;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  z-index: 100;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

@media (max-width: 600px) {
  .btn--float-feedback {
    font-size: 16px;
    padding: 8px 16px;
  }
}

@media (max-width: 375px) {
  .btn--float-feedback {
    font-size: 14px;
    padding: 6px 14px;
    font-weight: 400;
  }
}

.btn--float-feedback:hover {
  background: #0a2972;
}

.btn--feedback {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  padding: 15px;
  background: #0a2972;
  font-weight: 700;
  border-radius: 4px;
  font-size: 18px;
  letter-spacing: 0.5px;
}

@media (max-width: 768px) {
  .btn--feedback {
    padding: 14px;
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  .btn--feedback {
    padding: 13px;
    font-size: 15px;
  }
}
/*# sourceMappingURL=modal.css.map */