.border {
  border: 1px solid #44414f;
}

.border-bottom {
  border-bottom: 1px solid #44414f;
}

.order-confirm-loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  padding-top: 30px;
  top: 0;
  left: 0;
  z-index: 10;
  background: #fff;
  width: 100%;
  height: 100%;
  border: 1px solid lightgray;
  font-weight: 700;
}

.card--orderconfirm {
  background: #ffffff;
  border-radius: 3px;
}

body,
html {
  font-family: "Roboto Condensed", "Arial Narrow";
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
}

#page {
  background: #f3f3f3 !important;
}

.table--primary__bottom {
  display: none;
}

.est-green {
  color: #009b00 !important;
}

/* thead {
    display: table-header-group;
  } */
tfoot {
  display: table-row-group;
}

tr {
  page-break-inside: avoid;
}

.print-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

@media (max-width: 1000px) {
  .print-btns {
    margin-left: unset;
    margin-top: 10px;
  }
}

.download-pdf,
.download-print {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 35px;
}

@media (max-width: 600px) {
  .download-pdf,
  .download-print {
    height: 40px;
    padding-top: 12px 25px;
    font-size: 16px !important;
  }
}

.download-pdf {
  background: #ad0b00;
  margin-right: 8px;
}

.download-pdf .icon {
  margin-right: 5px;
}

.download-pdf .icon svg {
  height: 19px;
  width: 17px;
  fill: #fff;
}

.error-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.error-page__message {
  font-size: 24px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .error-page__message {
    font-size: 22px;
  }
}

@media (max-width: 600px) {
  .error-page__message {
    font-size: 20px;
  }
}

@media (max-width: 375px) {
  .error-page__message {
    font-size: 16px;
  }
}

.error-page .btn--tertiary {
  width: 400px;
}

@media (max-width: 768px) {
  .error-page .btn--tertiary {
    width: 340px;
  }
}

@media (max-width: 600px) {
  .error-page .btn--tertiary {
    width: 250px;
  }
}

@media (max-width: 320px) {
  .error-page .btn--tertiary {
    width: 80%;
  }
}

.order-confirm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 768px) {
  .order-confirm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.order-confirm__print {
  display: none;
  padding: 20px;
}

.order-confirm__check {
  text-align: center;
  margin-bottom: 15px;
}

.order-confirm__check img {
  height: 70px;
  width: 70px;
}

.order-confirm__no {
  text-align: center;
  font-weight: 400;
  color: #0a2972;
  font-size: 24px;
  font-weight: 700;
}

.order-confirm__confirmed {
  text-align: center;
  color: #009b00;
  font-size: 20px;
  margin-top: 3px;
}

.order-confirm__paypal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-style: italic;
  font-weight: 600;
  color: #0a2972;
  font-size: 18px;
  margin: 20px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.order-confirm__paypal img {
  height: 24px;
  margin-right: 5px;
}

.order-confirm__message {
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
}

.order-confirm__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.order-confirm__header {
  color: #0a2972;
  font-size: 22px;
  margin-bottom: 10px;
}

.order-confirm__info {
  min-width: 350px;
  width: 370px;
  margin-right: 20px;
}

@media (max-width: 768px) {
  .order-confirm__info {
    width: 100%;
    min-width: 100%;
  }
}

.order-confirm__summary {
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  padding: 15px 15px 30px 15px;
}

@media (max-width: 768px) {
  .order-confirm__summary {
    margin-top: 20px;
    width: 100%;
  }
}

.order-confirm__intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 15px !important;
  padding-bottom: 20px;
}

.order-confirm__body {
  padding: 15px 15px !important;
  padding-top: 0 !important;
}

@media (max-width: 1000px) {
  .order-confirm__body [class*="col-"] {
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) {
  .order-confirm__body [class*="col-"]:not(:last-child) {
    border-bottom: 1px solid #c9c9c9;
    padding-bottom: 10px;
  }
}

.order-confirm__body h2 {
  font-size: 18px;
  margin-bottom: 8px;
  color: #0a2972;
}

.order-confirm__body p {
  line-height: 1.5;
  color: #44414F;
}

.order-confirm__body #shipcostid {
  color: #009b00;
}

.order-confirm__body #shipcostid h2,
.order-confirm__body #shipcostid p {
  color: #000;
}

.order-confirm__body .oc-left a {
  color: #22baf3;
}

.order-confirm__item {
  padding: 20px 0;
}

.order-confirm__item:not(last-child) {
  border-top: 1px solid #ECECEC;
}

@media only screen and (max-width: 1000px) {
  .table-mobile tr {
    display: table !important;
  }
}

@media only screen and (max-width: 1000px) {
  .table-mobile ul {
    padding: 0 !important;
  }
  .table-mobile tr {
    display: table !important;
    padding-left: 90px !important;
    display: block !important;
    overflow: auto;
    margin-bottom: 5px;
    border-bottom: 1px solid #ddd;
  }
  .table-mobile tr:last-child {
    border-bottom: 0;
  }
  .table-mobile .image {
    width: 80px !important;
    position: absolute;
    left: 0;
  }
  .table-mobile .description {
    width: 95% !important;
    float: none;
  }
  .table-mobile .total,
  .table-mobile .quantity,
  .table-mobile .price {
    width: 100% !important;
    padding: 5px !important;
    padding-left: 0px !important;
  }
  .table-mobile .total {
    float: none;
    text-align: left !important;
    padding-left: 0px !important;
    position: inherit !important;
    margin: 0 !important;
  }
}

@media only screen and (max-width: 375px) {
  .table-mobile tr {
    padding-left: 74px !important;
  }
  .table-mobile .image {
    width: 60px !important;
    position: absolute;
    left: 0;
  }
}

.color--red {
  color: #f9243f;
}

.delivery-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: normal;
  font-size: 15px;
  margin: 12px 0;
}

@media only screen and (max-width: 375px) {
  .delivery-flex {
    font-size: 12px;
  }
}

.delivery-flex img {
  margin-right: 10px;
}

.delivery-flex span {
  margin-right: 5px;
}

.delivery-flex span:last-child {
  margin-left: 5px;
}

@media only screen and (max-width: 400px) {
  .delivery-flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .delivery-flex strong {
    display: block;
    width: 100% !important;
  }
  .delivery-flex span {
    margin-right: 5px;
  }
  .delivery-flex span:last-child {
    margin-left: 5px;
  }
}

@media only screen and (max-width: 1000px) {
  .table-mobile .visible--desktop,
  .table-mobile .delivery--desktop {
    display: none !important;
  }
  .table-mobile .delivery--mobile {
    display: block !important;
  }
  .table-mobile .three-items {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    top: -7px;
  }
  .table-mobile .three-items__item {
    margin-right: 20px;
    font-weight: normal;
    font-size: 17px;
  }
  .table-mobile .three-items__item b {
    margin-right: 5px;
  }
}

@media only screen and (max-width: 375px) {
  .table-mobile .three-items__item {
    margin-right: 20px;
    font-weight: normal;
    font-size: 14px;
  }
  .table-mobile .three-items__item b {
    margin-right: 5px;
  }
}

.orderconfirm-new-table {
  text-align: left;
  width: 100%;
}

.orderconfirm-new-table .order-num {
  font-weight: 600;
}

.orderconfirm-new-table .order-num span {
  color: #0a2972 !important;
  font-size: 18px;
}

.orderconfirm-new-table tr:not(:last-child) {
  margin-bottom: 20px;
}

.orderconfirm-new-table td {
  padding: 5px 5px 10px 0 !important;
}

@media (max-width: 37.5625em) {
  .orderconfirm-new-table td {
    padding-bottom: 0 10px !important;
  }
}

.orderconfirm-new-table td:not(:last-child) {
  padding-right: 10px;
}

.orderconfirm-new-table th {
  padding-bottom: 15px !important;
}

.orderconfirm-new-table tr,
.orderconfirm-new-table th,
.orderconfirm-new-table td {
  vertical-align: top;
}

.orderconfirm-new-table .action {
  width: 300px;
}

@media (max-width: 79em) {
  .orderconfirm-new-table .action {
    width: 200px;
  }
}

@media (max-width: 1000px) {
  .orderconfirm-new-table .action {
    width: auto;
  }
}

@media (max-width: 37.5625em) {
  .orderconfirm-new-table .action {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.orderconfirm-new-table .order-date {
  width: 20%;
}

@media (max-width: 1000px) {
  .orderconfirm-new-table .order-date {
    width: auto;
  }
  .orderconfirm-new-table th {
    display: none;
  }
  .orderconfirm-new-table thead {
    display: none;
  }
  .orderconfirm-new-table tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 10px 0;
  }
  .orderconfirm-new-table tr:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .orderconfirm-new-table td {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 23.4375em) {
  .orderconfirm-new-table td {
    font-size: 15px;
  }
}

.orderconfirm-new-table {
  width: 100%;
}

.orderconfirm-new-table td {
  padding-top: 8px;
}

.orderconfirm-new-table th {
  text-align: left;
}

.orderconfirm-new-table .row-image {
  width: 80px;
}

@media (max-width: 500px) {
  .orderconfirm-new-table .row-image {
    width: 20%;
  }
}

.orderconfirm-new-table .item-image a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70px;
  border-radius: 4px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border: 2px solid #ededed;
}

@media (max-width: 500px) {
  .orderconfirm-new-table .item-image a {
    width: 100%;
  }
}

.orderconfirm-new-table .item-image img {
  width: 100%;
  height: auto !important;
}

@media (max-width: 500px) {
  .orderconfirm-new-table .item-image img {
    max-height: 90px;
  }
}

@media (max-width: 500px) {
  .orderconfirm-new-table .row-item {
    width: 80%;
  }
}

.orderconfirm-new-table .item-title {
  color: #4b4b4b;
  font-size: 18px;
  font-weight: 700;
}

.orderconfirm-new-table .item-color,
.orderconfirm-new-table .item-size,
.orderconfirm-new-table .item-est {
  font-size: 15px;
  margin-top: 4px;
}

.orderconfirm-new-table .item-color p,
.orderconfirm-new-table .item-size p,
.orderconfirm-new-table .item-est p {
  color: #989898;
}

.orderconfirm-new-table .item-color p b,
.orderconfirm-new-table .item-size p b,
.orderconfirm-new-table .item-est p b {
  color: #4b4b4b;
}

.orderconfirm-new-table .item-color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.orderconfirm-new-table .item-est {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #009b00;
}

.orderconfirm-new-table .item-est img {
  margin-right: 5px;
}

@media (max-width: 1000px) {
  .orderconfirm-new-table .item-est img {
    width: 25px;
  }
}

.orderconfirm-new-table .item-est strong {
  margin-bottom: 0;
}

@media (max-width: 1000px) {
  .orderconfirm-new-table .item-est span {
    margin-bottom: 0 !important;
  }
}

.orderconfirm-new-table .color-box {
  display: block;
  height: 20px;
  width: 20px;
  min-width: 20px;
  margin: 0 5px;
  border: 1px solid #4b4b4b;
}

.orderconfirm-new-table .row-price,
.orderconfirm-new-table .row-quantity,
.orderconfirm-new-table .row-total {
  color: #4b4b4b;
  font-weight: 700;
}

@media (max-width: 1000px) {
  .orderconfirm-new-table .row-price,
  .orderconfirm-new-table .row-quantity,
  .orderconfirm-new-table .row-total {
    width: 33.33%;
  }
}

@media (max-width: 1000px) {
  .orderconfirm-new-table .row-total {
    text-align: right;
  }
}

@media (max-width: 768px) {
  .orderconfirm-new-table .row-item {
    width: calc(80%);
  }
}

.compute {
  width: 300px;
  margin-left: auto;
  margin-top: 20px;
}

@media (max-width: 600px) {
  .compute {
    width: 100%;
  }
}

.compute__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-size: 18px;
}

.compute__item .title {
  color: #44414F;
}

.compute__item .value {
  margin-left: auto;
}

.compute__item:not(:first-child) {
  margin-top: 8px;
}

.compute__free {
  border-radius: 3px;
  background: #59CD3B;
  padding: 4px 12px;
  color: #fff;
  margin-left: 5px;
}

.compute__total {
  font-size: 20px;
  font-weight: 700;
}
/*# sourceMappingURL=orderconfirm.css.map */