.st-patrick-day {
  background: #378a22;
}

.navbar__hamburger-btn span {
  background-color: #0c5716;
}

.navbar__logo {
  position: relative;
}

.navbar__logo::before {
  position: absolute;
  display: block;
  content: "";
  background-image: url("/bulkapparel-pagecuts/images/theme/st-patrick-day/rainbox-with-golds.png");
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  width: 110px;
  height: 110px;
  bottom: -54px;
  left: -106px;
}

@media (max-width: 1400px) {
  .navbar__logo::before {
    width: 60px;
    height: 60px;
    bottom: -38px;
    left: unset;
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
    right: -60px;
  }
}

@media (max-width: 1264px) {
  .navbar__logo::before {
    height: 53px;
    width: 53px;
    right: -52px;
    bottom: -39px;
  }
}

@media (max-width: 1000px) {
  .navbar__logo::before {
    height: 60px;
    width: 60px;
    right: -61px;
    bottom: -25px;
  }
}

@media (max-width: 600px) {
  .navbar__logo::before {
    height: 50px;
    width: 50px;
    right: -50px;
    bottom: -15px;
  }
}

@media (max-width: 375px) {
  .navbar__logo::before {
    height: 42px;
    width: 42px;
    right: -42px;
    bottom: -10px;
  }
}

@media (max-width: 320px) {
  .navbar__logo::before {
    height: 25px;
    width: 25px;
    right: -25px;
    bottom: -5px;
  }
}

.navbar .btn--my-account {
  color: #0c5716;
}

.navbar .btn--my-account svg {
  fill: #0c5716;
}

.navbar .btn--icon svg {
  fill: #0c5716;
}

.navbar .btn--track__icon {
  fill: #0c5716;
}

.navbar .btn--track__label {
  color: #0c5716 !important;
}

.navbar .inp--search__button {
  background: #0c5716;
}

.navbar__footer {
  background: #0c5716;
}

.navbar .mega-menu__title {
  color: #0c5716;
}

.navbar .mega-menu__title::after {
  background: #0c5716;
}

.navbar .mega-menu__sub:hover {
  background-color: rgba(12, 87, 22, 0.08);
}

.navbar .navbar__footer-sub-link:hover {
  background-color: rgba(55, 138, 34, 0.08);
}

.navbar .search__auto-result li:hover a, .navbar .search__auto-result li:focus a {
  color: #0c5716 !important;
}

.navbar .search__live-header span {
  color: #0c5716;
}

.navbar__footer-item:hover > .navbar__footer-header {
  background-color: #378a22 !important;
  color: #fff !important;
}

.footer {
  position: relative;
  background: radial-gradient(50.72% 50.72% at 48.35% 50.72%, #0F9522 0%, #166D22 100%);
  white-space: nowrap;
  margin-top: 50px;
  padding-top: 130px;
  width: 100vw;
  overflow: hidden;
}

.footer::before {
  display: block;
  content: "";
  position: absolute;
  background: url("/bulkapparel-pagecuts/images/theme/st-patrick-day/clover-leaves.png");
  height: 158px;
  width: 100vw;
  top: -40px;
  left: 0;
}

@media (max-width: 768px) {
  .footer::before {
    height: 120px;
    background-size: auto 100%;
  }
}

@media (max-width: 600px) {
  .footer::before {
    height: 105px;
  }
}

@media (max-width: 375px) {
  .footer::before {
    height: 95px;
  }
}

@media (max-width: 320px) {
  .footer::before {
    height: 80px;
  }
}

@media (max-width: 768px) {
  .footer {
    padding-top: 90px;
    padding-bottom: 200px;
  }
}

@media (max-width: 600px) {
  .footer {
    padding-bottom: 180px;
    padding-top: 80px;
  }
}

@media (max-width: 375px) {
  .footer {
    padding-top: 70px;
  }
}

.footer .container::after {
  display: block;
  content: "";
  position: absolute;
  bottom: -15px;
  right: 0;
  background: url("/bulkapparel-pagecuts/images/theme/st-patrick-day/green-clover-person.png") no-repeat;
  background-size: 100%;
  height: 300px;
  width: 360px;
  z-index: 0;
}

@media (max-width: 1940px) {
  .footer .container::after {
    height: 280px;
    width: 340px;
  }
}

@media (max-width: 1264px) {
  .footer .container::after {
    height: 260px;
    width: 320px;
    right: unset;
    left: 0;
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
  }
}

@media (max-width: 1000px) {
  .footer .container::after {
    bottom: -25px;
    height: 220px;
    width: 280px;
    -webkit-transform: unset;
            transform: unset;
    left: unset;
    right: 0;
  }
}

@media (max-width: 768px) {
  .footer .container::after {
    height: 260px;
    width: 280px;
  }
}

@media (max-width: 600px) {
  .footer .container::after {
    height: 180px;
    width: 200px;
    bottom: -15px;
  }
}

@media (max-width: 375px) {
  .footer .container::after {
    height: 160px;
    width: 180px;
  }
}

.sidebar {
  background-color: #0c5716;
}

@media (max-width: 1000px) {
  .show-sub-list .navbar__footer-header {
    background-color: #378a22;
  }
}

body {
  overflow-x: hidden !important;
}
/*# sourceMappingURL=st-patrick-day.theme.css.map */