.valentines {
  background: #a7002a;
}

.navbar__hamburger-btn span {
  background-color: #890023;
}

.navbar__logo {
  position: relative;
}

.navbar__logo::before {
  position: absolute;
  display: block;
  content: "";
  background-image: url("/images/theme/valentines/cupid.png");
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  width: 100px;
  height: 100px;
  top: -20px;
  left: -95px;
}

@media (max-width: 119em) {
  .navbar__logo::before {
    left: unset;
    top: -20px;
    right: -15%;
    height: 60px;
    width: 60px;
  }
}

@media (max-width: 79em) {
  .navbar__logo::before {
    right: -25%;
    height: 54px;
    width: 54px;
  }
}

@media (max-width: 62.5em) {
  .navbar__logo::before {
    right: -28%;
  }
}

@media (max-width: 48em) {
  .navbar__logo::before {
    height: 55px;
    width: 55px;
    top: -15px;
    right: -60px;
  }
}

@media (max-width: 37.5625em) {
  .navbar__logo::before {
    height: 50px;
    width: 50px;
    right: -48px;
  }
}

@media (max-width: 31.25em) {
  .navbar__logo::before {
    height: 40px;
    width: 40px;
    right: -35px;
  }
}

@media (max-width: 374px) {
  .navbar__logo::before {
    height: 28px;
    width: 28px;
    right: -16px;
  }
}

.navbar__logo::after {
  position: absolute;
  display: block;
  content: "";
  background-image: url("/images/theme/valentines/heart-fly.png");
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  top: -28px;
  right: -17%;
  width: 55px;
  height: 55px;
}

@media (max-width: 119em) {
  .navbar__logo::after {
    right: -20%;
    height: 30px;
    width: 30px;
  }
}

@media (max-width: 79em) {
  .navbar__logo::after {
    right: -33%;
  }
}

@media (max-width: 62.5em) {
  .navbar__logo::after {
    right: -38%;
  }
}

@media (max-width: 48em) {
  .navbar__logo::after {
    right: -100px;
    height: 50px;
    width: 50px;
  }
}

@media (max-width: 37.5625em) {
  .navbar__logo::after {
    right: -80px;
    top: -20px;
    height: 40px;
    width: 40px;
  }
}

@media (max-width: 31.25em) {
  .navbar__logo::after {
    right: -54px;
    top: -18px;
    height: 25px;
    width: 25px;
  }
}

@media (max-width: 374px) {
  .navbar__logo::after {
    height: 10px;
    width: 10px;
    right: -20px;
    top: -15px;
  }
}

.navbar .btn--my-account {
  color: #890023;
}

.navbar .btn--my-account svg {
  fill: #890023;
}

.navbar .btn--icon svg {
  fill: #890023;
}

.navbar .btn--track__icon {
  fill: #890023;
}

.navbar .btn--track__label {
  color: #890023 !important;
}

.navbar .inp--search__button {
  background: #890023;
}

.navbar__footer {
  background: #890023;
}

.navbar .mega-menu__title {
  color: #890023;
}

.navbar .mega-menu__title::after {
  background: #890023;
}

.navbar .mega-menu__sub:hover {
  background-color: rgba(137, 0, 35, 0.08);
}

.navbar .navbar__footer-sub-link:hover {
  background-color: rgba(167, 0, 42, 0.08);
}

.navbar .search__auto-result li:hover a, .navbar .search__auto-result li:focus a {
  color: #890023 !important;
}

.navbar .search__live-header span {
  color: #890023;
}

.navbar__footer-item:hover > .navbar__footer-header {
  background-color: #a7002a !important;
  color: #fff !important;
}

.footer {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(#4B0013), to(#9B1235));
  background: linear-gradient(180deg, #4B0013 0%, #9B1235 100%);
  white-space: nowrap;
  margin-top: 50px;
  width: 100vw;
  overflow: hidden;
}

.footer::before, .footer::after {
  display: block;
  content: "";
  position: absolute;
  bottom: -40px;
  background: url("/images/theme/valentines/cloud.png") no-repeat;
  height: 260px;
  width: 500px;
}

@media (max-width: 62.5em) {
  .footer::before, .footer::after {
    height: 240px;
    width: 460px;
    bottom: -60px;
  }
}

@media (max-width: 48em) {
  .footer::before, .footer::after {
    height: 220px;
    width: 400px;
  }
}

@media (max-width: 31.25em) {
  .footer::before, .footer::after {
    height: 200px;
    width: 380px;
    bottom: -40px;
  }
}

@media (max-width: 23.4375em) {
  .footer::before, .footer::after {
    height: 180px;
    width: 300px;
    bottom: -30px;
  }
}

.footer::before {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  left: -160px;
}

.footer::after {
  right: -150px;
}

@media (max-width: 62.5em) {
  .footer {
    padding-top: 160px;
  }
}

@media (max-width: 48em) {
  .footer {
    padding: 130px 0;
  }
}

@media (max-width: 37.5625em) {
  .footer {
    padding: 85px 0;
  }
}

@media (max-width: 23.4375em) {
  .footer {
    padding: 65px 0;
  }
}

@media (max-width: 20em) {
  .footer {
    padding: 45px 0;
  }
}

.footer .container::before, .footer .container::after {
  display: block;
  content: "";
  position: absolute;
  background: url("/images/theme/valentines/cupid-with-heart.svg") no-repeat;
  height: 370px;
  top: -120px;
  width: 460px;
}

@media (max-width: 1800px) {
  .footer .container::before, .footer .container::after {
    top: -140px;
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
    opacity: .5;
  }
}

@media (max-width: 62.5em) {
  .footer .container::before, .footer .container::after {
    height: 340px;
    width: 450px;
    opacity: 1;
  }
}

@media (max-width: 48em) {
  .footer .container::before, .footer .container::after {
    height: 280px;
    width: 400px;
    top: -100px;
  }
}

@media (max-width: 37.5625em) {
  .footer .container::before, .footer .container::after {
    height: 240px;
    width: 360px;
    top: -100px;
  }
}

@media (max-width: 31.25em) {
  .footer .container::before, .footer .container::after {
    height: 200px;
    width: 300px;
    top: -80px;
  }
}

@media (max-width: 23.4375em) {
  .footer .container::before, .footer .container::after {
    height: 160px;
    width: 260px;
    top: -60px;
  }
}

@media (max-width: 23.4375em) {
  .footer .container::before, .footer .container::after {
    height: 140px;
    width: 240px;
    top: -50px;
  }
}

.footer .container::before {
  left: 0;
}

.footer .container::after {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  right: -20px;
}

@media (max-width: 48em) {
  .footer .container {
    margin-top: 40px;
  }
}

.sidebar {
  background-color: #890023;
}

@media (max-width: 62.5em) {
  .show-sub-list .navbar__footer-header {
    background-color: #a7002a;
  }
}

body {
  overflow-x: hidden !important;
}
/*# sourceMappingURL=valentines.theme.css.map */